pywin32==228
psutil==5.8.0
tkinter==8.6
json==2.0.9
datetime==4.3
subprocess==1.0
logging==0.5.1.2
win32serviceutil==0.1.1
win32service==0.2
win32event==0.2
win32process==0.2
win32profile==0.2
win32ts==0.2
win32con==0.2
win32api==0.2
servicemanager==0.2
pystray==0.28.7
PIL==8.3.1
email-validator==1.1.3
GPUtil==1.4.0
keyring==23.2.1
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-api-python-client==2.22.0
platform==1.0.8