openapi: 3.1.0
info:
  title: Owlette API
  version: 2.3.1
  description: |
    The Owlette API lets you programmatically manage your fleet of Windows machines,
    deploy software, monitor processes, execute tools, and integrate with external systems
    via webhooks.

    ## Authentication

    All API requests require authentication via an **API key**. You can create API keys
    from the Owlette dashboard under **Settings → API Keys**, or via the
    [Create API Key](#tag/API-Keys/operation/createApiKey) endpoint.

    Include your API key in every request using one of these methods:

    - **Header** (recommended): `x-api-key: owk_your_key_here`
    - **Query parameter**: `?api_key=owk_your_key_here`

    API keys are scoped to your user account and inherit your site access permissions.

    ## Rate Limiting

    All endpoints are rate-limited. When you exceed the limit, you'll receive a `429 Too Many Requests`
    response with a `Retry-After` header indicating how long to wait.

    Default limit: **300 requests/hour** per API key.

    Response headers on every request:
    - `X-RateLimit-Limit` — Maximum requests per window
    - `X-RateLimit-Remaining` — Requests remaining in current window
    - `X-RateLimit-Reset` — Unix timestamp when the window resets

    ## Errors

    All errors return a JSON object with an `error` field:

    ```json
    { "error": "Description of what went wrong" }
    ```

    Common HTTP status codes:
    | Code | Meaning |
    |------|---------|
    | 400  | Bad request — missing or invalid parameters |
    | 401  | Unauthorized — missing or invalid API key |
    | 403  | Forbidden — no access to this site or resource |
    | 404  | Not found |
    | 409  | Conflict — resource is in an incompatible state |
    | 429  | Rate limit exceeded |
    | 500  | Internal server error |

    ## Base URLs

    | Environment | URL |
    |-------------|-----|
    | Production  | `https://owlette.app` |
    | Development | `https://dev.owlette.app` |
  license:
    name: FSL-1.1-Apache-2.0
    url: https://fsl.software/FSL-1.1-Apache-2.0.template.md
  contact:
    name: Owlette Support

servers:
  - url: https://owlette.app
    description: Production
  - url: https://dev.owlette.app
    description: Development

security:
  - apiKey: []

tags:
  - name: Sites
    description: List sites accessible to your account
  - name: Machines
    description: Monitor and manage machines in your fleet
  - name: Processes
    description: Configure and control monitored processes
  - name: Commands
    description: Send commands to machines (restart, reboot, etc.)
  - name: Deployments
    description: Deploy software to machines
  - name: Webhooks
    description: Subscribe to events via HTTP callbacks
  - name: API Keys
    description: Manage your API keys
  - name: Logs
    description: Query activity logs
  - name: Screenshots
    description: Manage machine screenshots
  - name: Software Inventory
    description: Query installed software on machines
  - name: Installer
    description: Agent installer version information
  - name: Tools
    description: Execute MCP tools on machines
  - name: Cortex
    description: AI-powered chat and tool execution
  - name: Roost
    description: |
      Content-addressed project sync (v2). Upload folders once,
      fan out atomic deploys to the fleet, roll back instantly.
      All roost endpoints use RFC 7807 `application/problem+json`
      error envelopes (see the `ProblemDetails` schema).

  # ── public roost api tags (wave 1) — granular grouping per resource.
  # existing `Roost` tag above covers the first batch of live endpoints.
  # new tags below match [reference/api-surface.md](../dev/active/roost-public-api/reference/api-surface.md).
  - name: api-keys
    description: |
      Self-service api key management. Scoped, expiring bearer tokens
      (`owk_live_*` / `owk_test_*`) used to authenticate every public
      roost request. See [authentication.md](../docs/api/authentication.md).
  - name: roosts
    description: |
      Roosts — named, versioned, content-addressed bundles of files
      deployed to a set of machines. Renamed from `folders`.
  - name: versions
    description: |
      Immutable oci-style versions. Every publish creates a new
      version; rollback is a pointer flip. See [versions.md](../docs/api/versions.md).
  - name: chunks
    description: |
      Content-addressed blob layer. Dedup lookup, signed upload/download
      urls, cross-roost mount. See [chunks.md](../docs/api/chunks.md).
  - name: deployments
    description: |
      Targeted rollouts — canary, scheduled, dry-run. Publishing a
      version auto-fans-out to targets; the deploy endpoint adds
      explicit control.
  - name: sites
    description: Read-only site metadata for the authenticated caller.
  - name: machines
    description: Read-only fleet inventory scoped to a site.
  - name: quotas
    description: Storage + bandwidth usage against plan limits.
  - name: audit-log
    description: |
      Tamper-evident, hash-chained log of every mutating operation
      performed against a site's roost resources.
  - name: webhooks
    description: |
      HTTP-callback subscriptions for roost events (publish, rollback,
      deploy, quota, etc.). See [webhooks.md](../docs/api/webhooks.md).
  - name: utility
    description: Identity, version, and live event-stream endpoints.

paths:
  # ──────────────────────────────────────────────────────────────────────
  # Sites
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/sites:
    get:
      operationId: listSites
      tags: [Sites]
      summary: List sites
      description: Returns all sites accessible to the authenticated user.
      responses:
        '200':
          description: List of sites
          content:
            application/json:
              schema:
                type: object
                properties:
                  sites:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
              example:
                sites:
                  - id: nyc-office
                    name: NYC Office
                    machineCount: 5

  # ──────────────────────────────────────────────────────────────────────
  # Machines
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/machines:
    get:
      operationId: listMachines
      tags: [Machines]
      summary: List machines
      description: Returns all machines in a site with online status.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: List of machines
          content:
            application/json:
              schema:
                type: object
                properties:
                  machines:
                    type: array
                    items:
                      $ref: '#/components/schemas/Machine'
              example:
                machines:
                  - id: DESKTOP-ABC123
                    name: DESKTOP-ABC123
                    online: true
                    lastHeartbeat: "2026-03-21T10:30:00Z"
                    agentVersion: "2.3.1"
                    os: Windows 11 Pro

  /api/admin/machines/status:
    get:
      operationId: getMachineStatus
      tags: [Machines]
      summary: Get machine status
      description: Returns detailed machine info including metrics, processes, health, and agent version.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/MachineIdQuery'
      responses:
        '200':
          description: Detailed machine status

  /api/admin/machines/update:
    post:
      operationId: triggerAgentUpdate
      tags: [Machines]
      summary: Trigger agent self-update
      description: Sends an `update_owlette` command to a machine to trigger a self-update to a specified version.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, machineId, version, installer_url]
              properties:
                siteId:
                  type: string
                machineId:
                  type: string
                version:
                  type: string
                  description: Target agent version
                  example: "2.3.1"
                installer_url:
                  type: string
                  format: uri
                  description: HTTPS URL to the installer EXE
            example:
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              version: "2.3.1"
              installer_url: "https://firebasestorage.googleapis.com/.../Owlette-Installer-v2.3.1.exe"
      responses:
        '200':
          description: Update command sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Commands
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/commands/send:
    post:
      operationId: sendCommand
      tags: [Commands]
      summary: Send command to machine
      description: |
        Sends a command to a machine via Firestore. When `wait: true`, polls for completion
        and returns the result inline.

        **Available commands:** `restart_process`, `kill_process`, `start_process`,
        `reboot_machine`, `shutdown_machine`, `update_owlette`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, machineId, command]
              properties:
                siteId:
                  type: string
                machineId:
                  type: string
                command:
                  type: string
                  enum: [restart_process, kill_process, start_process, reboot_machine, shutdown_machine, update_owlette]
                data:
                  type: object
                  description: 'Command-specific parameters (e.g. {"process_name": "TouchDesigner"})'
                wait:
                  type: boolean
                  default: true
                  description: If true, poll for completion and return the result
                timeout:
                  type: integer
                  minimum: 30
                  maximum: 120
                  default: 30
                  description: Poll timeout in seconds (only used when `wait` is true)
            example:
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              command: restart_process
              data:
                process_name: TouchDesigner
              wait: true
              timeout: 30
      responses:
        '200':
          description: Command sent (or completed if `wait` was true)

  /api/admin/commands/clear:
    delete:
      operationId: clearCommands
      tags: [Commands]
      summary: Clear pending commands
      description: Clears all pending commands for a machine.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/MachineIdQuery'
      responses:
        '200':
          description: Commands cleared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Processes
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/processes:
    get:
      operationId: listProcesses
      tags: [Processes]
      summary: List processes
      description: Returns all configured processes for a machine, including live status.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/MachineIdQuery'
      responses:
        '200':
          description: List of processes
          content:
            application/json:
              schema:
                type: object
                properties:
                  processes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Process'
              example:
                processes:
                  - id: proc_abc123
                    name: TouchDesigner
                    exe_path: "C:\\Program Files\\Derivative\\TouchDesigner\\bin\\TouchDesigner.exe"
                    launch_mode: always
                    status: running

    post:
      operationId: createProcess
      tags: [Processes]
      summary: Add process
      description: Adds a new monitored process configuration for a machine.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, machineId, name, exe_path]
              properties:
                siteId:
                  type: string
                machineId:
                  type: string
                name:
                  type: string
                  description: Display name of the process
                exe_path:
                  type: string
                  description: Full path to the executable on the target machine
            example:
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              name: TouchDesigner
              exe_path: "C:\\Program Files\\Derivative\\TouchDesigner\\bin\\TouchDesigner.exe"
      responses:
        '200':
          description: Process created
          content:
            application/json:
              schema:
                type: object
                properties:
                  processId:
                    type: string
              example:
                processId: proc_abc123

  /api/admin/processes/{processId}:
    patch:
      operationId: updateProcess
      tags: [Processes]
      summary: Update process
      description: Updates fields on an existing process configuration.
      parameters:
        - $ref: '#/components/parameters/ProcessIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, machineId]
              properties:
                siteId:
                  type: string
                machineId:
                  type: string
                name:
                  type: string
                exe_path:
                  type: string
            example:
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              name: TouchDesigner Updated
              exe_path: "C:\\Program Files\\Derivative\\TouchDesigner099\\bin\\TouchDesigner099.exe"
      responses:
        '200':
          description: Process updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

    delete:
      operationId: deleteProcess
      tags: [Processes]
      summary: Delete process
      description: Removes a process configuration from a machine.
      parameters:
        - $ref: '#/components/parameters/ProcessIdPath'
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/MachineIdQuery'
      responses:
        '200':
          description: Process deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/admin/processes/{processId}/launch-mode:
    patch:
      operationId: updateLaunchMode
      tags: [Processes]
      summary: Update launch mode
      description: |
        Sets the launch mode and optional schedule for a process.

        **Launch modes:**
        - `off` — Process is not managed
        - `always` — Process is kept running at all times
        - `scheduled` — Process runs on a schedule
      parameters:
        - $ref: '#/components/parameters/ProcessIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, machineId, mode]
              properties:
                siteId:
                  type: string
                machineId:
                  type: string
                mode:
                  type: string
                  enum: [off, always, scheduled]
                schedules:
                  type: array
                  description: Required when `mode` is `scheduled`
                  items:
                    $ref: '#/components/schemas/Schedule'
            example:
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              mode: scheduled
              schedules:
                - days: [mon, tue, wed, thu, fri]
                  startTime: "08:00"
                  endTime: "18:00"
      responses:
        '200':
          description: Launch mode updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Deployments
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/deployments:
    get:
      operationId: listDeployments
      tags: [Deployments]
      summary: List deployments
      description: Returns deployments for a site, ordered by creation date (newest first).
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Maximum number of deployments to return
      responses:
        '200':
          description: List of deployments
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployments:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeploymentSummary'
              example:
                deployments:
                  - id: deploy-1699564800000
                    name: TouchDesigner 2023
                    installer_name: TouchDesigner_099_2023.exe
                    status: completed
                    createdAt: 1699564800000

    post:
      operationId: createDeployment
      tags: [Deployments]
      summary: Create deployment
      description: |
        Creates a new software deployment targeting specified machines.
        The `installer_url` must use HTTPS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, name, installer_name, installer_url, machineIds]
              properties:
                siteId:
                  type: string
                name:
                  type: string
                  description: Display name for the deployment
                installer_name:
                  type: string
                  description: Filename of the installer
                installer_url:
                  type: string
                  format: uri
                  description: HTTPS URL to download the installer
                silent_flags:
                  type: string
                  description: Silent install command-line flags
                  example: "/VERYSILENT /NORESTART"
                verify_path:
                  type: string
                  description: Path to verify after installation
                machineIds:
                  type: array
                  items:
                    type: string
                  description: Target machine IDs
            example:
              siteId: nyc-office
              name: TouchDesigner 2023
              installer_name: TouchDesigner_099_2023.exe
              installer_url: "https://storage.googleapis.com/.../TouchDesigner_099_2023.exe"
              silent_flags: "/VERYSILENT /NORESTART"
              verify_path: "C:\\Program Files\\Derivative\\TouchDesigner\\bin\\TouchDesigner.exe"
              machineIds: [DESKTOP-ABC123, DESKTOP-DEF456]
      responses:
        '200':
          description: Deployment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deploymentId:
                    type: string
              example:
                success: true
                deploymentId: deploy-1699564800000
        '400':
          description: Invalid request (e.g. non-HTTPS URL)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/admin/deployments/{deploymentId}:
    get:
      operationId: getDeployment
      tags: [Deployments]
      summary: Get deployment details
      description: Returns full deployment details including per-machine status.
      parameters:
        - $ref: '#/components/parameters/DeploymentIdPath'
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deployment:
                    $ref: '#/components/schemas/Deployment'
              example:
                success: true
                deployment:
                  id: deploy-1699564800000
                  name: TouchDesigner 2023
                  installer_name: TouchDesigner_099_2023.exe
                  installer_url: "https://storage.googleapis.com/.../TouchDesigner_099_2023.exe"
                  silent_flags: "/VERYSILENT /NORESTART"
                  verify_path: "C:\\Program Files\\Derivative\\TouchDesigner\\bin\\TouchDesigner.exe"
                  status: in_progress
                  createdAt: 1699564800000
                  targets:
                    - machineId: DESKTOP-ABC123
                      status: completed
                      completedAt: 1699564850000
                    - machineId: DESKTOP-DEF456
                      status: downloading
                      progress: 45

    delete:
      operationId: deleteDeployment
      tags: [Deployments]
      summary: Delete deployment
      description: |
        Deletes a deployment record. Only allowed for deployments in terminal states
        (`completed`, `failed`, `partial`, `cancelled`, `uninstalled`).
      parameters:
        - $ref: '#/components/parameters/DeploymentIdPath'
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Deployment deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/admin/deployments/{deploymentId}/cancel:
    post:
      operationId: cancelDeployment
      tags: [Deployments]
      summary: Cancel deployment for a machine
      description: |
        Cancels a running deployment for a specific machine. The target must be in a
        cancellable state (`pending`, `downloading`, or `installing`).
      parameters:
        - $ref: '#/components/parameters/DeploymentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, machineId, installer_name]
              properties:
                siteId:
                  type: string
                machineId:
                  type: string
                installer_name:
                  type: string
            example:
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              installer_name: TouchDesigner_099_2023.exe
      responses:
        '200':
          description: Cancellation command sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  commandId:
                    type: string
        '400':
          description: Machine is not a target of this deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Target is already in a terminal state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Webhooks
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/webhooks:
    get:
      operationId: listWebhooks
      tags: [Webhooks]
      summary: List webhooks
      description: Returns all configured webhooks for a site.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
              example:
                webhooks:
                  - id: wh_abc123
                    name: Slack Alerts
                    url: "https://hooks.slack.com/services/..."
                    events: [process_crash, machine_offline]
                    createdAt: "2026-03-20T10:00:00Z"

    post:
      operationId: createWebhook
      tags: [Webhooks]
      summary: Create webhook
      description: |
        Registers a new webhook endpoint for a site. Returns an HMAC `secret`
        for verifying payload signatures — this secret is shown **once** at creation time.

        **Available events:** `process_crash`, `machine_offline`, `connection_failure`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, name, url, events]
              properties:
                siteId:
                  type: string
                name:
                  type: string
                  description: Display name for the webhook
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint URL to receive webhook payloads
                events:
                  type: array
                  items:
                    type: string
                    enum: [process_crash, machine_offline, connection_failure]
            example:
              siteId: nyc-office
              name: Slack Alerts
              url: "https://hooks.slack.com/services/T00/B00/xxx"
              events: [process_crash, machine_offline]
      responses:
        '200':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhookId:
                    type: string
                  secret:
                    type: string
                    description: HMAC secret for verifying payloads (shown once)
              example:
                webhookId: wh_abc123
                secret: "whsec_..."

    delete:
      operationId: deleteWebhook
      tags: [Webhooks]
      summary: Delete webhook
      description: Removes a webhook configuration.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - name: webhookId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/webhooks/test:
    post:
      operationId: testWebhook
      tags: [Webhooks]
      summary: Test webhook
      description: Sends a test payload to a configured webhook to verify connectivity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhookId, siteId]
              properties:
                webhookId:
                  type: string
                siteId:
                  type: string
            example:
              webhookId: wh_abc123
              siteId: nyc-office
      responses:
        '200':
          description: Test payload sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: integer
                    description: HTTP status code returned by the webhook endpoint
              example:
                success: true
                status: 200

  # ──────────────────────────────────────────────────────────────────────
  # API Keys
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/keys:
    get:
      operationId: listApiKeys
      tags: [API Keys]
      summary: List API keys
      deprecated: true
      description: |
        **Deprecated.** Use [`GET /api/keys`](#tag/api-keys/operation/listUserApiKeys) instead.
        The admin path will be retired once the public surface ships.

        Returns metadata for all API keys belonging to the authenticated user. Raw keys are never returned.
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeyMetadata'
              example:
                keys:
                  - id: key_abc123
                    name: CI/CD Pipeline
                    keyPrefix: "owk_abc1...."
                    createdAt: "2026-03-20T10:00:00Z"
                    lastUsedAt: "2026-03-21T14:30:00Z"

  /api/admin/keys/create:
    post:
      operationId: createApiKey
      tags: [API Keys]
      summary: Create API key
      deprecated: true
      description: |
        **Deprecated.** Use [`POST /api/keys`](#tag/api-keys/operation/createUserApiKey) instead.
        The public surface supports scoped keys (`scopes[]`, `environment`, `ttlDays`);
        this legacy endpoint issues a full-access key with no expiry.

        Generates a new API key. The full key is returned **once** at creation time
        and cannot be retrieved again — store it securely.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: A descriptive name for the key
            example:
              name: CI/CD Pipeline
      responses:
        '200':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    description: The full API key (shown once)
                  keyId:
                    type: string
              example:
                key: "owk_abc123def456ghi789..."
                keyId: key_abc123

  /api/admin/keys/revoke:
    delete:
      operationId: revokeApiKey
      tags: [API Keys]
      summary: Revoke API key
      deprecated: true
      description: |
        **Deprecated.** Use [`DELETE /api/keys/{keyId}`](#tag/api-keys/operation/revokeUserApiKey) instead.

        Permanently revokes an API key. This action cannot be undone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [keyId]
              properties:
                keyId:
                  type: string
            example:
              keyId: key_abc123
      responses:
        '200':
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Logs
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/logs:
    get:
      operationId: getLogs
      tags: [Logs]
      summary: Get activity logs
      description: Returns activity logs for a site with optional filters.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          description: Maximum number of log entries to return
        - name: action
          in: query
          schema:
            type: string
          description: Filter by action type (e.g. `process_crashed`, `machine_offline`)
        - name: level
          in: query
          schema:
            type: string
            enum: [info, warn, error]
          description: Filter by log level
        - name: machineId
          in: query
          schema:
            type: string
          description: Filter by machine ID
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Only return logs after this timestamp (ISO 8601)
      responses:
        '200':
          description: Activity logs

  # ──────────────────────────────────────────────────────────────────────
  # Screenshots
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/screenshots:
    delete:
      operationId: deleteScreenshots
      tags: [Screenshots]
      summary: Delete screenshots
      description: |
        Deletes screenshot history for a machine. If `screenshotId` is provided,
        deletes only that screenshot. Otherwise deletes all screenshot history.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/MachineIdQuery'
        - name: screenshotId
          in: query
          schema:
            type: string
          description: Delete a single screenshot by ID. If omitted, deletes all history.
      responses:
        '200':
          description: Screenshots deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: integer
                    description: Number of screenshots deleted
              example:
                success: true
                deleted: 5
        '404':
          description: Screenshot not found (when `screenshotId` is provided)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Software Inventory
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/software-inventory:
    get:
      operationId: getSoftwareInventory
      tags: [Software Inventory]
      summary: Get installed software
      description: Returns the installed software list for a machine.
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/MachineIdQuery'
      responses:
        '200':
          description: Installed software list

  # ──────────────────────────────────────────────────────────────────────
  # Installer
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/installer/latest:
    get:
      operationId: getLatestInstaller
      tags: [Installer]
      summary: Get latest installer
      description: Returns metadata for the latest available agent installer.
      responses:
        '200':
          description: Latest installer metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallerVersion'
              example:
                version: "2.3.1"
                fileName: Owlette-Installer-v2.3.1.exe
                downloadUrl: "https://storage.googleapis.com/..."
                releaseNotes: Bug fixes and performance improvements
                uploadedAt: "2026-03-20T10:00:00Z"

  /api/admin/installer/versions:
    get:
      operationId: listInstallerVersions
      tags: [Installer]
      summary: List installer versions
      description: Returns all available installer versions.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Maximum number of versions to return
      responses:
        '200':
          description: List of installer versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstallerVersion'

  # ──────────────────────────────────────────────────────────────────────
  # Installer (public — superadmin-only, scoped via `installer=*:<perm>`)
  # ──────────────────────────────────────────────────────────────────────
  /api/installer:
    get:
      operationId: listInstallers
      tags: [Installer]
      summary: List installer versions (public, superadmin)
      description: |
        Returns paginated installer versions, newest-first. Superadmin-only.
        API-key callers must hold `installer=*:read`.
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: page_token
          in: query
          schema:
            type: string
          description: Cursor for the next page (opaque, returned by a previous response).
        - name: includeDeleted
          in: query
          schema:
            type: boolean
            default: false
          description: When true, soft-deleted versions are included.
      responses:
        '200':
          description: Paginated installer versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstallerVersion'
                  nextPageToken:
                    type: string
        '403':
          description: Forbidden — caller is not a superadmin or the API key lacks `installer=*:read`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/upload:
    post:
      operationId: requestInstallerUpload
      tags: [Installer]
      summary: Request signed upload URL (step 1)
      description: |
        Step 1 of the two-step installer upload. Returns a signed PUT URL the
        client uses to upload the binary directly to Storage, plus an
        `uploadId` to pass to step 2 (`PUT /api/installer/upload`).
        Superadmin-only; API-key callers need `installer=*:write`.
        Honors `Idempotency-Key` for safe retry.
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, fileName]
              properties:
                version:
                  type: string
                  description: Semver string (e.g. "3.0.0").
                fileName:
                  type: string
                  description: Must end in `.exe`.
                contentType:
                  type: string
                  default: application/octet-stream
                releaseNotes:
                  type: string
                  nullable: true
                setAsLatest:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Signed upload URL + opaque uploadId
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl:
                    type: string
                    format: uri
                  uploadId:
                    type: string
                  storagePath:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '400':
          description: Validation error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden — superadmin required
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      operationId: finalizeInstallerUpload
      tags: [Installer]
      summary: Finalize installer upload (step 2)
      description: |
        Step 2 of the two-step installer upload. Verifies the binary is in
        Storage, computes the SHA-256 if `checksum_sha256` is omitted, and
        writes `installer_metadata/{version}` (and the `latest` pointer if
        `setAsLatest` was true at step 1). Superadmin-only;
        API-key callers need `installer=*:write`.
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [uploadId]
              properties:
                uploadId:
                  type: string
                checksum_sha256:
                  type: string
                  description: Optional — server computes if omitted.
      responses:
        '200':
          description: Upload finalized
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  download_url:
                    type: string
                    format: uri
                  checksum_sha256:
                    type: string
                  file_size:
                    type: integer
        '404':
          description: Upload record or file not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Upload already finalized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '410':
          description: Upload window expired — restart the flow
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/{version}:
    delete:
      operationId: deleteInstallerVersion
      tags: [Installer]
      summary: Soft-delete an installer version
      description: |
        Soft-deletes the version (sets `deletedAt`); the storage object is
        retained. Refuses to drop the active count below 2 — returns 409
        `min_versions_violated` if it would. Idempotent: deleting an
        already-soft-deleted version returns 200 with `alreadyDeleted: true`.
        Superadmin-only; API-key callers need `installer=*:admin`.
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+$'
      responses:
        '200':
          description: Version deleted (or already deleted)
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  deletedAt:
                    type: integer
                  alreadyDeleted:
                    type: boolean
        '404':
          description: Version not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Min active version count would be violated
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/{version}/set-latest:
    post:
      operationId: setInstallerLatest
      tags: [Installer]
      summary: Promote a version to latest
      description: |
        Atomically updates the `installer_metadata/latest` pointer to
        the given version. Refuses if the version is missing or
        soft-deleted. Superadmin-only; API-key callers need
        `installer=*:admin`. Honors `Idempotency-Key`.
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+$'
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Latest pointer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  latest:
                    $ref: '#/components/schemas/InstallerVersion'
        '404':
          description: Version not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version is soft-deleted — restore before promoting
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  # ──────────────────────────────────────────────────────────────────────
  # Tools
  # ──────────────────────────────────────────────────────────────────────
  /api/admin/tools:
    get:
      operationId: listTools
      tags: [Tools]
      summary: List MCP tools
      description: |
        Returns all available MCP tools with their schemas.
        Use the `tier` parameter to filter by maximum tool tier.
      parameters:
        - name: tier
          in: query
          schema:
            type: integer
            enum: [1, 2, 3]
            default: 3
          description: |
            Maximum tier to include. Tier 1 = read-only, Tier 2 = actions, Tier 3 = advanced.
      responses:
        '200':
          description: List of available tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: array
                    items:
                      $ref: '#/components/schemas/McpTool'
                  count:
                    type: integer
              example:
                tools:
                  - name: get_system_info
                    description: Returns system information (CPU, memory, disk, OS)
                    tier: 1
                    parameters:
                      type: object
                      properties: {}
                      required: []
                count: 15

  /api/admin/tools/execute:
    post:
      operationId: executeTool
      tags: [Tools]
      summary: Execute MCP tool
      description: |
        Executes an MCP tool on a target machine. The tool name must be registered
        in the tool registry. When `wait: true` (default), polls for the result.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, machineId, tool]
              properties:
                siteId:
                  type: string
                machineId:
                  type: string
                tool:
                  type: string
                  description: Tool name (must exist in the tool registry)
                params:
                  type: object
                  description: Tool parameters (validated against the tool's schema)
                  default: {}
                wait:
                  type: boolean
                  default: true
                  description: If true, poll for completion and return the result
                timeout:
                  type: integer
                  minimum: 1
                  maximum: 120
                  default: 30
                  description: Poll timeout in seconds
            example:
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              tool: get_system_info
              params: {}
              wait: true
              timeout: 30
      responses:
        '200':
          description: Tool executed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  commandId:
                    type: string
                  tool:
                    type: string
                  tier:
                    type: integer
                  result:
                    type: object
                    description: Tool result (only present when `wait` is true and tool completed)
                  status:
                    type: string
                    description: '"timeout" if the tool did not complete within the timeout period'
        '400':
          description: Unknown tool or missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Cortex
  # ──────────────────────────────────────────────────────────────────────
  /api/cortex:
    post:
      operationId: cortexChat
      tags: [Cortex]
      summary: Chat with Cortex
      description: |
        Streaming chat endpoint with AI-powered tool execution. Cortex can inspect
        machines, run diagnostics, restart processes, and more — all through natural
        language.

        **Modes:**
        - **Single-machine mode**: Set `machineId` to a specific machine ID. If a local
          Cortex agent is running on that machine, it handles the request locally.
        - **Site-wide mode**: Set `machineId` to `__site__` to query across all machines
          in the site using server-side LLM.

        The response is streamed via **Server-Sent Events (SSE)** using the Vercel AI SDK
        protocol. Each event contains either text chunks or tool call/result data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages, siteId, chatId]
              properties:
                messages:
                  type: array
                  description: Conversation history in OpenAI-compatible format
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                        enum: [user, assistant, system]
                      content:
                        description: Message content (string or array of text/image parts)
                siteId:
                  type: string
                machineId:
                  type: string
                  description: Target machine ID, or `__site__` for site-wide mode
                machineName:
                  type: string
                  description: Display name of the target machine
                chatId:
                  type: string
                  description: Unique chat session ID
            example:
              messages:
                - role: user
                  content: "How's the system doing?"
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              machineName: Gallery PC 1
              chatId: chat-123
      responses:
        '200':
          description: SSE stream with AI response
          content:
            text/event-stream:
              schema:
                type: string
                description: Server-Sent Events stream (Vercel AI SDK protocol)
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Roost (project distribution v2) — content-addressed sync
  # ──────────────────────────────────────────────────────────────────────
  /api/chunks/check:
    post:
      operationId: checkChunks
      tags: [Roost]
      summary: Check which chunks are already uploaded
      description: |
        Given a list of SHA-256 chunk hashes, returns the subset that are
        NOT yet present in content-addressed storage. Callers skip chunks
        that already exist (CAS dedup), uploading only the missing ones.

        Idempotent. Scoped to the caller's site (per-tenant chunk namespace).
      security:
        - apiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, hashes]
              properties:
                siteId:
                  type: string
                hashes:
                  type: array
                  description: Lowercase 64-char SHA-256 hex strings.
                  items:
                    type: string
                    pattern: '^[0-9a-f]{64}$'
                  maxItems: 1000
            example:
              siteId: nyc-office
              hashes:
                - 239f59ed55e737c77147cf55ad0c1b030b6d7ee748a7426952f9b852d5a935e5
                - a1b2c3d4e5f6789012345678901234567890abcdef0123456789abcdef012345
      responses:
        '200':
          description: Subset of input hashes not present in storage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  missing:
                    type: array
                    items:
                      type: string
              example:
                missing:
                  - a1b2c3d4e5f6789012345678901234567890abcdef0123456789abcdef012345
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/chunks/upload-urls:
    post:
      operationId: getChunkUploadUrls
      tags: [Roost]
      summary: Get signed upload URLs for chunks
      description: |
        Returns signed PUT URLs (≤60 min TTL) for uploading each chunk
        directly to R2. Honors `Idempotency-Key` header for safe retries.
        Rate-limited per site.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, hashes]
              properties:
                siteId:
                  type: string
                hashes:
                  type: array
                  items:
                    type: string
                    pattern: '^[0-9a-f]{64}$'
                  maxItems: 1000
      responses:
        '200':
          description: Map of hash → signed upload URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: object
                    additionalProperties:
                      type: string
                      format: uri
                      description: Signed PUT URL; PUT the chunk bytes as the body.
                  expiresAt:
                    type: string
                    format: date-time
                    description: Earliest expiry across the issued URLs.
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '402': { $ref: '#/components/responses/Problem402' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/chunks/download-urls:
    get:
      operationId: getChunkDownloadUrls
      tags: [Roost]
      summary: Get signed download URLs for chunks
      description: |
        Returns signed GET URLs (≤15 min TTL) for downloading a batch of
        chunks. Scoped to per-tenant prefix; cross-site access returns 403.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
        - name: hashes
          in: query
          required: true
          description: Comma-separated list of SHA-256 hashes (lowercase hex).
          schema:
            type: string
      responses:
        '200':
          description: Map of hash → signed download URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: object
                    additionalProperties:
                      type: string
                      format: uri
                  expiresAt:
                    type: string
                    format: date-time
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/roosts/{roostId}/versions:
    get:
      operationId: listRoostVersions
      tags: [Roost]
      summary: List versions for rollback UI
      description: |
        Returns the immutable version history for a roost, newest
        first. Used by the rollback UI to let operators pick a previous
        known-good version.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
        - name: siteId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Opaque pagination cursor from the previous response.
          schema:
            type: string
      responses:
        '200':
          description: Paginated version history.
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/VersionSummary'
                  nextCursor:
                    type: string
                    nullable: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '501':
          $ref: '#/components/responses/Problem501'
    post:
      operationId: finalizeVersion
      tags: [Roost]
      summary: Finalize a new version (atomic CAS)
      description: |
        Validates the version, confirms every referenced chunk exists in
        R2, and atomically swaps `currentVersionId` on the roost doc
        via a Firestore transaction. On success the roost's previous
        `currentVersionId` becomes `previousVersionId` (one-click rollback).

        If a concurrent finalize has changed `currentVersionId` between
        the client's fetch and this write, responds 412 so the client can
        re-read and retry.

        Honors `Idempotency-Key` for safe retries.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, version]
              properties:
                siteId:
                  type: string
                version:
                  $ref: '#/components/schemas/OciVersion'
                description:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: |
                    Optional plaintext "what changed?" note stored on the
                    version doc. ≤ 500 chars; longer payloads are rejected
                    with 400. Empty / whitespace-only strings are stored as
                    null.
                expectedCurrentVersionId:
                  type: string
                  nullable: true
                  description: |
                    For optimistic concurrency. If provided and the roost's
                    current pointer has changed, the server returns 412
                    with code `version_stale`.
      responses:
        '201':
          description: Version finalized; distribution fan-out triggered.
          content:
            application/json:
              schema:
                type: object
                required: [versionId, versionNumber]
                properties:
                  versionId:
                    type: string
                    description: Stable content-addressed id (`vrs_*`).
                  versionNumber:
                    type: integer
                    description: Monotonic 1-indexed version number, per-roost.
                  currentVersionId:
                    type: string
                  previousVersionId:
                    type: string
                    nullable: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '412': { $ref: '#/components/responses/Problem412' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/roosts/{roostId}/version-url:
    post:
      operationId: mintRoostVersionUrl
      tags: [Roost]
      summary: Mint a fresh signed GET URL for a version body
      description: |
        Issues a short-lived (≤15 min) signed R2 URL for fetching a
        version JSON body. Agents call this at sync time — URLs baked
        into the roost doc at publish time would already be expired by
        the time a canary wave ran, so each attempt mints fresh.
        Mirrors `/api/chunks/download-urls` for chunks.

        Accepts either a superadmin session/key OR an agent bearer token
        whose `site_id` claim matches the requested `siteId`.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, versionId]
              properties:
                siteId:
                  type: string
                versionId:
                  type: string
                  description: 64-char hex sha-256 of the version's canonical JSON body.
      responses:
        '200':
          description: Fresh signed URL.
          content:
            application/json:
              schema:
                type: object
                required: [url, expiresAt]
                properties:
                  url:
                    type: string
                    format: uri
                  expiresAt:
                    type: string
                    format: date-time
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }

  /api/roosts/{roostId}/resync:
    post:
      operationId: resyncRoost
      tags: [Roost]
      summary: Force all current targets to re-pull the current version
      description: |
        Operator-initiated retry after a failed rollout (or to force
        drift reset on targets where a kiosk tech touched files by
        hand). Queues fresh `sync_pull` commands with a timestamp
        nonce in the cmdId (deduped by the agent's `_seen_commands`
        otherwise), clears `target_state` docs so the UI snaps from
        "failed" back to "queued", and drops the stale
        `rollouts/{versionRef}` doc so the fanout state machine
        doesn't treat new reports as belated arrivals for an aborted
        wave.

        Skips canary→fleet staging — an explicit retry doesn't need
        the safety wave. The canary already ran (or failed).
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId]
              properties:
                siteId:
                  type: string
      responses:
        '200':
          description: Re-sync commands queued to all current targets.
          content:
            application/json:
              schema:
                type: object
                required: [resynced, targets]
                properties:
                  resynced:
                    type: integer
                    description: Count of targets the sync_pull was queued to.
                  targets:
                    type: array
                    items:
                      type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409':
          description: |
            Conflict — either the roost has no currentVersionId (nothing
            to resync) or no targets assigned.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }

  # ══════════════════════════════════════════════════════════════════════
  # Public roost API (wave 1) — docs-first. Paths below carry
  # `x-stub: true` where the route file does not yet exist; the openapi
  # drift validator skips the route-file check for those entries.
  # Contract source: dev/active/roost-public-api/reference/api-surface.md.
  # ══════════════════════════════════════════════════════════════════════

  # ──────────────────────────────────────────────────────────────────────
  # 1. api keys (public surface — supersedes /api/admin/keys/*)
  # ──────────────────────────────────────────────────────────────────────
  /api/keys:
    x-stub: true
    get:
      operationId: listUserApiKeys
      tags: [api-keys]
      summary: list api keys
      description: |
        Lists the caller's own api keys (raw `key` is never included).
        Requires a user session — api keys cannot list other api keys.
        See [authentication.md](../docs/api/authentication.md#listing-keys).
      security:
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostVersionHeader'
        - name: environment
          in: query
          required: false
          schema:
            type: string
            enum: [live, test]
          description: Filter by environment.
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
      responses:
        '200':
          description: Paginated list of api key summaries.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createUserApiKey
      tags: [api-keys]
      summary: create scoped api key
      description: |
        Creates a scoped api key. The raw `key` value is returned
        **exactly once** — store it in a secrets manager immediately.
        Requires a user session.
        See [authentication.md](../docs/api/authentication.md#creating-an-api-key).
      security:
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostVersionHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateApiKeyRequest' }
      responses:
        '201':
          description: Api key created; raw `key` present on this response only.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyWithSecret' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '402': { $ref: '#/components/responses/Problem402' }
        '403': { $ref: '#/components/responses/Problem403' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/keys/{keyId}:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/KeyIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: getUserApiKey
      tags: [api-keys]
      summary: fetch api key detail
      description: |
        Returns full metadata for one key (never the raw `key`). 404
        if the key belongs to another user or does not exist.
      security:
        - firebaseIdToken: []
      responses:
        '200':
          description: Api key detail.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKey' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    patch:
      operationId: patchUserApiKey
      tags: [api-keys]
      summary: rename or narrow scopes on an api key
      description: |
        Updates the key's name or narrows its scopes. Scopes may only
        be **narrowed** (remove permissions / ids); broadening returns
        400 `validation_failed`.
      security:
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/IfMatchHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PatchApiKeyRequest' }
      responses:
        '200':
          description: Api key updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKey' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '412': { $ref: '#/components/responses/Problem412' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: revokeUserApiKey
      tags: [api-keys]
      summary: revoke api key
      description: |
        Permanently revokes a key. Effective within 60s across all
        edge caches. Cannot be undone.
      security:
        - firebaseIdToken: []
      responses:
        '204':
          description: Key revoked (no body).
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/keys/{keyId}/rotate:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/KeyIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    post:
      operationId: rotateUserApiKey
      tags: [api-keys]
      summary: rotate api key
      description: |
        Mints a new raw key value; the old key remains valid for a
        grace window (default 24h, max 72h) so running jobs can pick
        up the new value without downtime.
      security:
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RotateApiKeyRequest' }
      responses:
        '200':
          description: Rotation complete; new raw `key` present on this response only.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyWithSecret' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '412': { $ref: '#/components/responses/Problem412' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 2. roosts (deploy units) — /api/roosts/{roostId}/{versions,rollback}
  # are already documented above. this block adds the collection endpoints
  # plus the roost-scalar GET/PATCH (the existing DELETE is live and moved
  # here so the spec matches the route file).
  # ──────────────────────────────────────────────────────────────────────
  /api/roosts:
    x-stub: true
    get:
      operationId: listRoosts
      tags: [roosts]
      summary: list roosts in a site
      description: |
        Lists roosts the caller has access to within a site.
        Cursor-paginated; `siteId` query is required.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostVersionHeader'
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
      responses:
        '200':
          description: Paginated roost list.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/RoostSummary' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createRoost
      tags: [roosts]
      summary: create roost
      description: |
        Creates a new empty roost. Publish a version to populate it.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostVersionHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRoostRequest' }
      responses:
        '201':
          description: Roost created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roost' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '402': { $ref: '#/components/responses/Problem402' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: getRoost
      tags: [roosts]
      summary: fetch roost detail
      description: |
        Returns the roost's current state including `currentVersionId`
        and `previousVersionId`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      x-stub: true
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Roost detail.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roost' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    patch:
      operationId: patchRoost
      tags: [roosts]
      summary: rename roost or change target machines
      description: |
        Updates the roost's name and/or target machine list. Does not
        affect version history.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      x-stub: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/IfMatchHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PatchRoostRequest' }
      responses:
        '200':
          description: Roost updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roost' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '412': { $ref: '#/components/responses/Problem412' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: deleteRoost
      tags: [roosts]
      summary: soft-delete roost
      description: |
        Deletes the roost doc + versions subcollection. Content chunks
        in R2 are reclaimed by the chunk gc mark-and-sweep (not
        immediate). 30-day tombstone; chunks referenced only by this
        roost become eligible for gc at that point.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Roost deleted.
          content:
            application/json:
              schema:
                type: object
                required: [deleted, roostId, versionsDeleted]
                properties:
                  deleted:
                    type: boolean
                    example: true
                  roostId:
                    type: string
                  versionsDeleted:
                    type: integer
                    description: Count of version docs purged.
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '412': { $ref: '#/components/responses/Problem412' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 3. versions — list + publish (POST) are live above. detail, files,
  # diff endpoints are proposed.
  # ──────────────────────────────────────────────────────────────────────
  /api/roosts/{roostId}/versions/{versionRef}:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/VersionRefPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: getVersion
      tags: [versions]
      summary: fetch full version body
      description: |
        Returns the full oci version body.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Version detail with full layer list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VersionDetail' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    patch:
      operationId: updateVersionDescription
      tags: [versions]
      summary: edit a published version's description
      description: |
        Edits the `description` field on an already-published version.
        The version's content (files, chunks) is immutable once
        published — any other body field is rejected with
        `version_content_immutable`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, description]
              properties:
                siteId:
                  type: string
                description:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: |
                    New description. ≤ 500 chars; longer payloads are
                    rejected with 400. Empty / whitespace-only strings
                    are stored as null.
      responses:
        '200':
          description: Updated version metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VersionSummary' }
        '400':
          description: |
            Validation failed. Returns 400 with code
            `version_content_immutable` if the body contains any field
            other than `siteId` / `description`, or `version_ref_malformed`
            if the path `versionRef` has an invalid grammar.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/versions/{versionRef}/files:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/VersionRefPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: listVersionFiles
      tags: [versions]
      summary: paginated flat file list for a version
      description: |
        Flat, cursor-paginated list of files in a version. Avoids
        downloading the full oci layer array for large roosts.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
        - name: prefix
          in: query
          required: false
          schema:
            type: string
          description: POSIX path prefix filter (e.g. `assets/`).
      responses:
        '200':
          description: Paginated file list.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/VersionFile' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/versions/{versionRef}/diff:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/VersionRefPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: diffVersions
      tags: [versions]
      summary: file-level diff between two versions
      description: |
        Returns the `added`, `removed`, and `modified` file sets
        between the path's version (`to`) and the `against` query
        parameter (`from`).
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - name: against
          in: query
          required: true
          schema:
            type: string
            pattern: '^sha256:[0-9a-f]{64}$'
          description: The "from" versionRef to diff against.
      responses:
        '200':
          description: Diff result.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DiffResult' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 4. chunks — check/upload-urls/download-urls are live above.
  # mount + referrers are proposed.
  # ──────────────────────────────────────────────────────────────────────
  /api/chunks/{digest}/mount:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/DigestPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    post:
      operationId: mountChunk
      tags: [chunks]
      summary: cross-roost chunk mount (zero-byte dedup)
      description: |
        Copies the chunk's virtual reference from `from` (source roost)
        into `toRoostId` (target roost). No bytes moved — R2 key stays
        the same; only the referrer set is updated. This is the dedup
        moat: cross-roost reuse without re-upload.
        See [chunks.md](../docs/api/chunks.md#cross-roost-mount).
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: Source roost id (caller must hold `read` scope on it).
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MountChunkRequest' }
      responses:
        '200':
          description: Mount succeeded.
          content:
            application/json:
              schema:
                type: object
                required: [digest, fromRoostId, toRoostId, mountedAt, referrerCount]
                properties:
                  digest:
                    type: string
                    pattern: '^sha256:[0-9a-f]{64}$'
                  fromRoostId: { type: string }
                  toRoostId:   { type: string }
                  mountedAt:
                    type: string
                    format: date-time
                  referrerCount: { type: integer, minimum: 1 }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '402': { $ref: '#/components/responses/Problem402' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/chunks/{digest}/referrers:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/DigestPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: listChunkReferrers
      tags: [chunks]
      summary: list versions referencing a chunk
      description: |
        Lists versions currently referencing a chunk. Used by ops
        tooling and the gc mark-and-sweep.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
      responses:
        '200':
          description: Paginated referrers.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ChunkReferrer' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 5. deployments (rollouts) — rollback is live above.
  # deploy + history + detail are proposed.
  # ──────────────────────────────────────────────────────────────────────
  /api/roosts/{roostId}/deploy:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    post:
      operationId: deployRoost
      tags: [deployments]
      summary: trigger targeted rollout
      description: |
        Triggers fan-out of a specific version to a subset of the
        roost's target machines. Supports scheduling, dry-run, and
        canary-then-fleet strategy. 202 Accepted — see the response
        `rolloutId` and poll `/api/roosts/{roostId}/deployments/{rolloutId}`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/IfMatchHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeployRequest' }
      responses:
        '202':
          description: Rollout queued.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeploymentPlan' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '402': { $ref: '#/components/responses/Problem402' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '412': { $ref: '#/components/responses/Problem412' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/deployments:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: listRoostDeployments
      tags: [deployments]
      summary: list rollout history for a roost
      description: |
        Cursor-paginated rollout history (deploys + rollbacks),
        newest first.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [queued, in_progress, succeeded, failed, cancelled]
          description: Filter by rollout state.
      responses:
        '200':
          description: Paginated deployments.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/DeploymentStatus' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/deployments/{rolloutId}:
    x-stub: true
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RolloutIdPath'
[...]
