openapi: 3.1.0
info:
  title: Owlette API
  version: 2.3.1
  description: |
    The Owlette API lets you programmatically manage your fleet of Windows machines,
    deploy software, monitor processes, execute tools, and integrate with external systems
    via webhooks.

    ## Authentication

    All API requests require authentication via an **API key**. You can create API keys
    from the Owlette dashboard under **Settings → API Keys**, or via the
    [Create API Key](#tag/API-Keys/operation/createApiKey) endpoint.

    Include your API key in every request using one of these methods:

    - **Header** (recommended): `x-api-key: owk_your_key_here`
    - **Query parameter**: `?api_key=owk_your_key_here`

    API keys are scoped to your user account and inherit your site access permissions.

    ## Rate Limiting

    All endpoints are rate-limited. When you exceed the limit, you'll receive a `429 Too Many Requests`
    response with a `Retry-After` header indicating how long to wait.

    Default limit: **300 requests/hour** per API key.

    Response headers on every request:
    - `X-RateLimit-Limit` — Maximum requests per window
    - `X-RateLimit-Remaining` — Requests remaining in current window
    - `X-RateLimit-Reset` — Unix timestamp when the window resets

    ## Errors

    All errors return a JSON object with an `error` field:

    ```json
    { "error": "Description of what went wrong" }
    ```

    Common HTTP status codes:
    | Code | Meaning |
    |------|---------|
    | 400  | Bad request — missing or invalid parameters |
    | 401  | Unauthorized — missing or invalid API key |
    | 403  | Forbidden — no access to this site or resource |
    | 404  | Not found |
    | 409  | Conflict — resource is in an incompatible state |
    | 429  | Rate limit exceeded |
    | 500  | Internal server error |

    ## Base URLs

    | Environment | URL |
    |-------------|-----|
    | Production  | `https://owlette.app` |
    | Development | `https://dev.owlette.app` |
  license:
    name: FSL-1.1-Apache-2.0
    url: https://fsl.software/FSL-1.1-Apache-2.0.template.md
  contact:
    name: Owlette Support

servers:
  - url: https://owlette.app
    description: Production
  - url: https://dev.owlette.app
    description: Development

security:
  - apiKey: []

tags:
  - name: Sites
    description: List sites accessible to your account
  - name: Machines
    description: Monitor and manage machines in your fleet
  - name: Processes
    description: Configure and control monitored processes
  - name: Commands
    description: Send commands to machines (restart, reboot, etc.)
  - name: Deployments
    description: Deploy software to machines
  - name: Presets
    description: Manage site-scoped schedule, reboot, and installer template presets
  - name: Webhooks
    description: Subscribe to events via HTTP callbacks
  - name: API Keys
    description: Manage your API keys
  - name: Logs
    description: Query activity logs
  - name: Alerts
    description: Manage alert rules
  - name: Screenshots
    description: Manage machine screenshots
  - name: Software Inventory
    description: Query installed software on machines
  - name: Installer
    description: Agent installer version information
  - name: Tools
    description: Execute MCP tools on machines
  - name: Cortex
    description: AI-powered chat and tool execution
  - name: Roost
    description: |
      Content-addressed project sync (v2). Upload folders once,
      fan out atomic deploys to the fleet, roll back instantly.
      All roost endpoints use RFC 7807 `application/problem+json`
      error envelopes (see the `ProblemDetails` schema).

  # ── public roost api tags (wave 1) — granular grouping per resource.
  # existing `Roost` tag above covers the first batch of live endpoints.
  # new tags below match [reference/api-surface.md](../dev/active/roost-public-api/reference/api-surface.md).
  - name: api-keys
    description: |
      Self-service api key management. Scoped, expiring bearer tokens
      (`owk_live_*` / `owk_test_*`) used to authenticate every public
      roost request. See [authentication.md](../docs/api/authentication.md).
  - name: roosts
    description: |
      Roosts — named, versioned, content-addressed bundles of files
      deployed to a set of machines. Renamed from `folders`.
  - name: versions
    description: |
      Immutable oci-style versions. Every publish creates a new
      version; rollback is a pointer flip. See [versions.md](../docs/api/versions.md).
  - name: chunks
    description: |
      Content-addressed blob layer. Dedup lookup, signed upload/download
      urls, cross-roost mount. See [chunks.md](../docs/api/chunks.md).
  - name: deployments
    description: |
      Targeted rollouts — canary, scheduled, dry-run. Publishing a
      version auto-fans-out to targets; the deploy endpoint adds
      explicit control.
  - name: sites
    description: Read-only site metadata for the authenticated caller.
  - name: machines
    description: Read-only fleet inventory scoped to a site.
  - name: quotas
    description: Storage + bandwidth usage against plan limits.
  - name: audit-log
    description: |
      Tamper-evident, hash-chained log of every mutating operation
      performed against a site's roost resources.
  - name: webhooks
    description: |
      HTTP-callback subscriptions for roost events (publish, rollback,
      deploy, quota, etc.). See [webhooks.md](../docs/api/webhooks.md).
  - name: utility
    description: Identity, version, and live event-stream endpoints.

paths:
  /api/account/api-keys:
    get:
      operationId: listAccountApiKeys
      tags: [api-keys]
      summary: List account API keys
      description: Lists API key metadata for the authenticated superadmin account. Raw keys and hashes are never returned.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: API keys
          content:
            application/json:
              schema:
                type: object
                required: [success, keys]
                properties:
                  success: { type: boolean }
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createAccountApiKey
      tags: [api-keys]
      summary: Create account API key
      description: |
        Creates a superadmin account API key and returns the raw key once.
        New account keys use modern scoped metadata; scoped API-key callers
        carry their existing scopes forward rather than widening them.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: API key created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyCreateResponse' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/account/api-keys/{keyId}:
    parameters:
      - name: keyId
        in: path
        required: true
        schema: { type: string }
    delete:
      operationId: revokeAccountApiKey
      tags: [api-keys]
      summary: Revoke account API key
      description: Deletes an API key owned by the authenticated superadmin account.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: API key revoked
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/platform/email/config:
    get:
      operationId: getPlatformEmailConfig
      tags: [utility]
      summary: Get platform email configuration
      description: Returns platform email provider configuration for superadmin diagnostics.
      responses:
        '200':
          description: Email configuration

  /api/platform/security/kill-switch:
    post:
      operationId: updateSecurityKillSwitch
      tags: [utility]
      summary: Update security migration kill switch
      description: Flips capability or rate-limit enforcement for a bounded period. Superadmin only.
      responses:
        '200':
          description: Kill switch updated
        '400':
          description: Validation error

  /api/platform/system-presets:
    get:
      operationId: listPlatformSystemPresets
      tags: [Installer]
      summary: List platform system presets
      description: Lists global system presets shared across sites.
      responses:
        '200':
          description: System presets
    post:
      operationId: createPlatformSystemPreset
      tags: [Installer]
      summary: Create platform system preset
      description: Creates a global system preset. Superadmin only.
      responses:
        '201':
          description: Preset created

  /api/platform/system-presets/{presetId}:
    parameters:
      - name: presetId
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getPlatformSystemPreset
      tags: [Installer]
      summary: Get platform system preset
      responses:
        '200':
          description: System preset
    patch:
      operationId: updatePlatformSystemPreset
      tags: [Installer]
      summary: Update platform system preset
      responses:
        '200':
          description: Preset updated
    delete:
      operationId: deletePlatformSystemPreset
      tags: [Installer]
      summary: Delete platform system preset
      responses:
        '204':
          description: Preset deleted

  /api/platform/touchdesigner/builds:
    get:
      operationId: listTouchDesignerBuilds
      tags: [Installer]
      summary: List TouchDesigner builds
      description: Fetches recent TouchDesigner installer builds from Derivative's archive page. Superadmin only.
      responses:
        '200':
          description: TouchDesigner builds

  /api/sites/{siteId}/agent-tokens:
    parameters:
      - name: siteId
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: listSiteAgentTokens
      tags: [Sites]
      summary: List site agent refresh tokens
      description: |
        Lists agent refresh token metadata for a site. Superadmin-only via
        `GLOBAL_SETTINGS_WRITE`; API-key callers need site read scope and a
        superadmin owning user.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Agent tokens.
          content:
            application/json:
              schema:
                type: object
                required: [tokens, count]
                properties:
                  tokens:
                    type: array
                    items:
                      type: object
                      required: [id]
                      properties:
                        id: { type: string }
                        machineId: { type: string, nullable: true }
                        version: { type: string, nullable: true }
                        createdBy: { type: string, nullable: true }
                        createdAt: { type: string, format: date-time, nullable: true }
                        lastUsed: { type: string, format: date-time, nullable: true }
                        expiresAt: { type: string, format: date-time, nullable: true }
                        agentUid: { type: string, nullable: true }
                  count: { type: integer, minimum: 0 }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/agent-tokens/revoke:
    parameters:
      - name: siteId
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: revokeSiteAgentTokens
      tags: [Sites]
      summary: Revoke site agent refresh tokens
      description: |
        Revokes one token, all tokens for a machine, or all tokens for a site.
        Superadmin-only via `GLOBAL_SETTINGS_WRITE`; API-key callers need site
        write scope and a superadmin owning user.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenId: { type: string }
                machineId: { type: string }
                all: { type: boolean }
              anyOf:
                - required: [tokenId]
                - required: [machineId]
                - required: [all]
      responses:
        '200':
          description: Tokens revoked.
          content:
            application/json:
              schema:
                type: object
                required: [success, revokedCount, message]
                properties:
                  success: { type: boolean }
                  revokedCount: { type: integer, minimum: 0 }
                  message: { type: string }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/alerts:
    parameters:
      - name: siteId
        in: path
        required: true
        schema: { type: string }
    put:
      operationId: setSiteAlertRules
      tags: [Alerts]
      summary: Set site alert rules
      description: Replaces the alert rules array at `sites/{siteId}/settings/alerts`.
      responses:
        '200':
          description: Alert rules saved

  /api/sites/{siteId}/machines/{machineId}/screenshots:
    parameters:
      - name: siteId
        in: path
        required: true
        schema: { type: string }
      - name: machineId
        in: path
        required: true
        schema: { type: string }
      - name: screenshotId
        in: query
        required: false
        schema: { type: string }
    delete:
      operationId: deleteSiteMachineScreenshots
      tags: [Screenshots]
      summary: Delete machine screenshots
      description: |
        Deletes one screenshot by id, or all screenshot history for the machine
        when omitted. Requires `machine=<machineId>:write`. Response shape is
        transitional JSON (`{ success, deleted }`) for dashboard compatibility.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Screenshots deleted.
          content:
            application/json:
              schema:
                type: object
                required: [success, deleted]
                properties:
                  success: { type: boolean }
                  deleted: { type: integer, minimum: 0 }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # Sites
  # ──────────────────────────────────────────────────────────────────────
  /api/webhooks/test:
    post:
      operationId: testWebhook
      tags: [Webhooks]
      summary: Test webhook
      description: Sends a test payload to a configured webhook to verify connectivity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhookId, siteId]
              properties:
                webhookId:
                  type: string
                siteId:
                  type: string
            example:
              webhookId: wh_abc123
              siteId: nyc-office
      responses:
        '200':
          description: Test payload sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: integer
                    description: HTTP status code returned by the webhook endpoint
              example:
                success: true
                status: 200

  # ──────────────────────────────────────────────────────────────────────
  # API Keys
  # ──────────────────────────────────────────────────────────────────────
  /api/sites/{siteId}/logs:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    get:
      operationId: listSiteLogs
      tags: [Logs]
      summary: List operational site logs
      description: |
        Lists entries from `sites/{siteId}/logs`, newest first. This is
        the operational log surface used for agent/process/deployment
        events, distinct from the tamper-evident audit log.
        Use `page_size` and `page_token`; legacy `limit` and `cursor`
        are accepted for existing callers.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: page_token
          in: query
          schema: { type: string }
          description: Previous response `next_page_token`.
        - name: action
          in: query
          schema: { type: string }
          description: Exact action filter, e.g. `process_crash`.
        - name: machineId
          in: query
          schema: { type: string }
          description: Exact machine id filter.
        - name: level
          in: query
          schema:
            type: string
            enum: [debug, info, warning, error, critical]
        - name: since
          in: query
          schema: { type: string }
          description: ISO 8601 or unix-ms lower timestamp bound.
        - name: until
          in: query
          schema: { type: string }
          description: ISO 8601 or unix-ms upper timestamp bound.
      responses:
        '200':
          description: Paginated operational logs
          content:
            application/json:
              schema:
                type: object
                required: [siteId, logs, next_page_token, nextPageToken]
                properties:
                  siteId: { type: string }
                  logs:
                    type: array
                    items: { $ref: '#/components/schemas/SiteLogEntry' }
                  next_page_token: { type: string }
                  nextPageToken:
                    type: string
                    deprecated: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: clearSiteLogs
      tags: [Logs]
      summary: Clear site logs
      description: |
        Deletes log entries from `sites/{siteId}/logs`. Optional filters
        match the current logs view: action, machineId, and level. Whole-site
        clearing requires explicit `all: true`. API-key callers must hold
        `site=<siteId>:admin`; session callers need the site-log management
        capability.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                all:
                  type: boolean
                  description: Required and true when clearing all logs without filters.
                action:
                  type: string
                machineId:
                  type: string
                level:
                  type: string
                  enum: [debug, info, warning, error, critical]
      responses:
        '200':
          description: Logs cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  siteId:
                    type: string
                  deletedCount:
                    type: integer
                  filters:
                    type: object
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/logs/{logId}:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - name: logId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Za-z0-9_.:-]{1,256}$'
    get:
      operationId: getSiteLog
      tags: [Logs]
      summary: Get one operational site log
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Operational log entry
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteLogEntry' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/installer:
    get:
      operationId: listInstallers
      tags: [Installer]
      summary: List installer versions (public, superadmin)
      description: |
        Returns paginated installer versions, newest-first. Superadmin-only.
        API-key callers must hold `installer=*:read`. Use `page_size`
        and `page_token`; legacy `limit` and `cursor` are accepted for
        existing clients.
        Responses include canonical `next_page_token`; `nextPageToken` is
        retained as a deprecated compatibility alias.
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: page_token
          in: query
          schema:
            type: string
          description: Cursor for the next page (opaque, returned by a previous response).
        - name: includeDeleted
          in: query
          schema:
            type: boolean
            default: false
          description: When true, soft-deleted versions are included.
      responses:
        '200':
          description: Paginated installer versions
          content:
            application/json:
              schema:
                type: object
                required: [versions, next_page_token]
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstallerVersion'
                  next_page_token:
                    type: string
                  nextPageToken:
                    type: string
                    deprecated: true
        '403':
          description: Forbidden — caller is not a superadmin or the API key lacks `installer=*:read`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/latest:
    get:
      operationId: getLatestInstaller
      tags: [Installer]
      summary: Get latest installer metadata (public, superadmin)
      description: |
        Returns the active latest installer metadata used by the admin
        dashboard and CLI. Superadmin-only; API-key callers must hold
        `installer=*:read`. The unauthenticated download permalink remains
        `GET /download`.
      responses:
        '200':
          description: Latest active installer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallerVersion'
        '403':
          description: Forbidden; caller is not a superadmin or the API key lacks `installer=*:read`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: No active latest installer is available
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/upload:
    post:
      operationId: requestInstallerUpload
      tags: [Installer]
      summary: Request signed upload URL (step 1)
      description: |
        Step 1 of the two-step installer upload. Returns a signed PUT URL the
        client uses to upload the binary directly to Storage, plus an
        `uploadId` to pass to step 2 (`PUT /api/installer/upload`).
        Superadmin-only; API-key callers need `installer=*:write`.
        Honors `Idempotency-Key` for safe retry.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, fileName]
              properties:
                version:
                  type: string
                  description: Semver string (e.g. "3.0.0").
                fileName:
                  type: string
                  description: Must end in `.exe`.
                contentType:
                  type: string
                  default: application/octet-stream
                releaseNotes:
                  type: string
                  nullable: true
                setAsLatest:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Signed upload URL + opaque uploadId
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl:
                    type: string
                    format: uri
                  uploadId:
                    type: string
                  storagePath:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '400':
          description: Validation error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden — superadmin required
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '422':
          description: Idempotency-Key reused with a different request body
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      operationId: finalizeInstallerUpload
      tags: [Installer]
      summary: Finalize installer upload (step 2)
      description: |
        Step 2 of the two-step installer upload. Verifies the binary is in
        Storage, computes SHA-256 from the stored object, rejects a supplied
        `checksum_sha256` mismatch, and writes version metadata plus the
        `latest` pointer when `setAsLatest` was true at step 1. Superadmin-only;
        API-key callers need `installer=*:write`.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [uploadId]
              properties:
                uploadId:
                  type: string
                checksum_sha256:
                  type: string
                  description: Optional — server computes if omitted.
      responses:
        '200':
          description: Upload finalized
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  download_url:
                    type: string
                    format: uri
                  checksum_sha256:
                    type: string
                  file_size:
                    type: integer
        '400':
          description: Validation error or missing Idempotency-Key
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Upload record or file not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Upload already finalized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '410':
          description: Upload window expired — restart the flow
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

        '412':
          description: Uploaded object checksum does not match `checksum_sha256`
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '422':
          description: Idempotency-Key reused with a different request body
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/{version}:
    delete:
      operationId: deleteInstallerVersion
      tags: [Installer]
      summary: Soft-delete an installer version
      description: |
        Soft-deletes the version (sets `deletedAt`); the storage object is
        retained. Refuses to drop the active count below 2 — returns 409
        `min_versions_violated` if it would. Idempotent: deleting an
        already-soft-deleted version returns 200 with `alreadyDeleted: true`.
        Superadmin-only; API-key callers need `installer=*:admin`.
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+$'
      responses:
        '200':
          description: Version deleted (or already deleted)
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  deletedAt:
                    type: integer
                  alreadyDeleted:
                    type: boolean
        '404':
          description: Version not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Current latest version is protected or min active version count would be violated
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/{version}/set-latest:
    post:
      operationId: setInstallerLatest
      tags: [Installer]
      summary: Promote a version to latest
      description: |
        Atomically updates the `installer_metadata/latest` pointer to
        the given version. Refuses if the version is missing or
        soft-deleted. Superadmin-only; API-key callers need
        `installer=*:admin`. Honors `Idempotency-Key`.
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+$'
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Latest pointer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  latest:
                    $ref: '#/components/schemas/InstallerVersion'
        '400':
          description: Validation error or missing Idempotency-Key
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Version not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version is soft-deleted — restore before promoting
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  # ──────────────────────────────────────────────────────────────────────
        '422':
          description: Idempotency-Key reused with a different request body
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  # Tools
  # ──────────────────────────────────────────────────────────────────────
  /api/cortex:
    post:
      operationId: cortexChat
      tags: [Cortex]
      summary: Chat with Cortex
      description: |
        Streaming chat endpoint with AI-powered tool execution. Cortex can inspect
        machines, run diagnostics, restart processes, and more — all through natural
        language.

        **Modes:**
        - **Single-machine mode**: Set `machineId` to a specific machine ID. If a local
          Cortex agent is running on that machine, it handles the request locally.
        - **Site-wide mode**: Set `machineId` to `__site__` to query across all machines
          in the site using server-side LLM.

        The response is streamed via **Server-Sent Events (SSE)** using the Vercel AI SDK
        protocol. Each event contains either text chunks or tool call/result data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages, siteId, chatId]
              properties:
                messages:
                  type: array
                  description: Conversation history in OpenAI-compatible format
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                        enum: [user, assistant, system]
                      content:
                        description: Message content (string or array of text/image parts)
                siteId:
                  type: string
                machineId:
                  type: string
                  description: Target machine ID, or `__site__` for site-wide mode
                machineName:
                  type: string
                  description: Display name of the target machine
                chatId:
                  type: string
                  description: Unique chat session ID
            example:
              messages:
                - role: user
                  content: "How's the system doing?"
              siteId: nyc-office
              machineId: DESKTOP-ABC123
              machineName: Gallery PC 1
              chatId: chat-123
      responses:
        '200':
          description: SSE stream with AI response
          content:
            text/event-stream:
              schema:
                type: string
                description: Server-Sent Events stream (Vercel AI SDK protocol)
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ──────────────────────────────────────────────────────────────────────
  # Roost (project distribution v2) — content-addressed sync
  # ──────────────────────────────────────────────────────────────────────
  /api/chunks/check:
    post:
      operationId: checkChunks
      tags: [Roost]
      summary: Check which chunks are already uploaded
      description: |
        Given a list of SHA-256 chunk hashes, returns the subset that are
        NOT yet present in content-addressed storage. Callers skip chunks
        that already exist (CAS dedup), uploading only the missing ones.

        Idempotent. Scoped to the caller's site (per-tenant chunk namespace).
      security:
        - apiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, hashes]
              properties:
                siteId:
                  type: string
                hashes:
                  type: array
                  description: Lowercase 64-char SHA-256 hex strings.
                  items:
                    type: string
                    pattern: '^[0-9a-f]{64}$'
                  maxItems: 1000
            example:
              siteId: nyc-office
              hashes:
                - 239f59ed55e737c77147cf55ad0c1b030b6d7ee748a7426952f9b852d5a935e5
                - a1b2c3d4e5f6789012345678901234567890abcdef0123456789abcdef012345
      responses:
        '200':
          description: Subset of input hashes not present in storage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  missing:
                    type: array
                    items:
                      type: string
              example:
                missing:
                  - a1b2c3d4e5f6789012345678901234567890abcdef0123456789abcdef012345
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/chunks/upload-urls:
    post:
      operationId: getChunkUploadUrls
      tags: [Roost]
      summary: Get signed upload URLs for chunks
      description: |
        Returns signed PUT URLs (≤60 min TTL) for uploading each chunk
        directly to R2. Honors `Idempotency-Key` header for safe retries.
        Rate-limited per site.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, hashes]
              properties:
                siteId:
                  type: string
                hashes:
                  type: array
                  items:
                    type: string
                    pattern: '^[0-9a-f]{64}$'
                  maxItems: 1000
      responses:
        '200':
          description: Map of hash → signed upload URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: object
                    additionalProperties:
                      type: string
                      format: uri
                      description: Signed PUT URL; PUT the chunk bytes as the body.
                  expiresAt:
                    type: string
                    format: date-time
                    description: Earliest expiry across the issued URLs.
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '402': { $ref: '#/components/responses/Problem402' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/chunks/download-urls:
    get:
      operationId: getChunkDownloadUrls
      tags: [Roost]
      summary: Get signed download URLs for chunks
      description: |
        Returns signed GET URLs (≤15 min TTL) for downloading a batch of
        chunks. Scoped to per-tenant prefix; cross-site access returns 403.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
        - name: hashes
          in: query
          required: true
          description: Comma-separated list of SHA-256 hashes (lowercase hex).
          schema:
            type: string
      responses:
        '200':
          description: Map of hash → signed download URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: object
                    additionalProperties:
                      type: string
                      format: uri
                  expiresAt:
                    type: string
                    format: date-time
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/roosts/{roostId}/versions:
    get:
      operationId: listRoostVersions
      tags: [Roost]
      summary: List versions for rollback UI
      description: |
        Returns the immutable version history for a roost, newest
        first. Used by the rollback UI to let operators pick a previous
        known-good version.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
        - name: siteId
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
      responses:
        '200':
          description: Paginated version history.
          content:
            application/json:
              schema:
                type: object
                required: [versions, next_page_token]
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/VersionSummary'
                  next_page_token:
                    type: string
                  nextPageToken:
                    type: string
                    deprecated: true
                  nextCursor:
                    type: string
                    nullable: true
                    deprecated: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '501':
          $ref: '#/components/responses/Problem501'
    post:
      operationId: finalizeVersion
      tags: [Roost]
      summary: Finalize a new version (atomic CAS)
      description: |
        Validates the version, confirms every referenced chunk exists in
        R2, and atomically swaps `currentVersionId` on the roost doc
        via a Firestore transaction. On success the roost's previous
        `currentVersionId` becomes `previousVersionId` (one-click rollback).

        If a concurrent finalize has changed `currentVersionId` between
        the client's fetch and this write, responds 412 so the client can
        re-read and retry.

        Honors `Idempotency-Key` for safe retries.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, version]
              properties:
                siteId:
                  type: string
                version:
                  $ref: '#/components/schemas/OciVersion'
                description:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: |
                    Optional plaintext "what changed?" note stored on the
                    version doc. ≤ 500 chars; longer payloads are rejected
                    with 400. Empty / whitespace-only strings are stored as
                    null.
                expectedCurrentVersionId:
                  type: string
                  nullable: true
                  description: |
                    For optimistic concurrency. If provided and the roost's
                    current pointer has changed, the server returns 412
                    with code `version_stale`.
      responses:
        '201':
          description: Version finalized; distribution fan-out triggered.
          content:
            application/json:
              schema:
                type: object
                required: [versionId, versionNumber]
                properties:
                  versionId:
                    type: string
                    description: Stable content-addressed id (64-char sha-256 hex).
                  versionNumber:
                    type: integer
                    description: Monotonic 1-indexed version number, per-roost.
                  currentVersionId:
                    type: string
                  previousVersionId:
                    type: string
                    nullable: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '412': { $ref: '#/components/responses/Problem412' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/roosts/{roostId}/version-url:
    post:
      operationId: mintRoostVersionUrl
      tags: [Roost]
      summary: Mint a fresh signed GET URL for a version body
      description: |
        Issues a short-lived (≤15 min) signed R2 URL for fetching a
        version JSON body. Agents call this at sync time — URLs baked
        into the roost doc at publish time would already be expired by
        the time a canary wave ran, so each attempt mints fresh.
        Mirrors `/api/chunks/download-urls` for chunks.

        Accepts either a superadmin session/key OR an agent bearer token
        whose `site_id` claim matches the requested `siteId`.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, versionId]
              properties:
                siteId:
                  type: string
                versionId:
                  type: string
                  description: 64-char hex sha-256 of the version's canonical JSON body.
      responses:
        '200':
          description: Fresh signed URL.
          content:
            application/json:
              schema:
                type: object
                required: [url, expiresAt]
                properties:
                  url:
                    type: string
                    format: uri
                  expiresAt:
                    type: string
                    format: date-time
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }

  /api/roosts/{roostId}/resync:
    post:
      operationId: resyncRoost
      tags: [Roost]
      summary: Force all current targets to re-pull the current version
      description: |
        Operator-initiated retry after a failed rollout (or to force
        drift reset on targets where a kiosk tech touched files by
        hand). Queues fresh `sync_pull` commands with a timestamp
        nonce in the cmdId (deduped by the agent's `_seen_commands`
        otherwise), clears `target_state` docs so the UI snaps from
        "failed" back to "queued", and drops the stale
        `rollouts/{versionRef}` doc so the fanout state machine
        doesn't treat new reports as belated arrivals for an aborted
        wave.

        Skips canary→fleet staging — an explicit retry doesn't need
        the safety wave. The canary already ran (or failed).
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId]
              properties:
                siteId:
                  type: string
      responses:
        '200':
          description: Re-sync commands queued to all current targets.
          content:
            application/json:
              schema:
                type: object
                required: [resynced, targets]
                properties:
                  resynced:
                    type: integer
                    description: Count of targets the sync_pull was queued to.
                  targets:
                    type: array
                    items:
                      type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409':
          description: |
            Conflict — either the roost has no currentVersionId (nothing
            to resync) or no targets assigned.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }

  # ══════════════════════════════════════════════════════════════════════
  # Public roost API (wave 1) — docs-first. Paths below carry
  # `x-stub: true` where the route file does not yet exist; the openapi
  # drift validator skips the route-file check for those entries.
  # Contract source: dev/active/roost-public-api/reference/api-surface.md.
  # ══════════════════════════════════════════════════════════════════════

  # ──────────────────────────────────────────────────────────────────────
  # 1. api keys (public surface)
  # ──────────────────────────────────────────────────────────────────────
  /api/keys:
    get:
      operationId: listUserApiKeys
      tags: [api-keys]
      summary: list api keys
      description: |
        Lists the caller's own api keys (raw `key` is never included).
        Requires a user session or Firebase ID token; api keys cannot
        list other api keys. This route is currently unpaginated.
        See [authentication.md](../docs/api/authentication.md#listing-keys).
      security:
        - firebaseIdToken: []
      responses:
        '200':
          description: List of api key summaries.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema:
                type: object
                required: [success, keys]
                properties:
                  success: { type: boolean }
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createUserApiKey
      tags: [api-keys]
      summary: create scoped api key
      description: |
        Creates a scoped api key. The raw `key` value is returned
        **exactly once** — store it in a secrets manager immediately.
        Requires a user session or Firebase ID token. Non-superadmin
        callers cannot create `user` or `installer` scopes; those
        platform resources must use `id: "*"`.
        See [authentication.md](../docs/api/authentication.md#creating-an-api-key).
      security:
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateApiKeyRequest' }
      responses:
        '200':
          description: Api key created; raw `key` present on this response only.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyCreateResponse' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/keys/{keyId}:
    parameters:
      - $ref: '#/components/parameters/KeyIdPath'
    delete:
      operationId: revokeUserApiKey
      tags: [api-keys]
      summary: revoke api key
      description: |
        Permanently revokes a key. Effective within 60s across all
        edge caches. Cannot be undone.
      security:
        - firebaseIdToken: []
      responses:
        '200':
          description: Key revoked.
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/keys/{keyId}/rotate:
    parameters:
      - $ref: '#/components/parameters/KeyIdPath'
    post:
      operationId: rotateUserApiKey
      tags: [api-keys]
      summary: rotate api key
      description: |
        Mints a new raw key value; the old key remains valid for a
        fixed 24-hour grace window so running jobs can pick up the new
        value without downtime. The new key keeps the old key's scopes
        and environment.
      security:
        - firebaseIdToken: []
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RotateApiKeyRequest' }
      responses:
        '200':
          description: Rotation complete; new raw `key` present on this response only.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyRotateResponse' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 2. roosts (deploy units) — /api/roosts/{roostId}/{versions,rollback}
  # are already documented above. this block adds the collection endpoints
  # plus the roost-scalar GET/PATCH (the existing DELETE is live and moved
  # here so the spec matches the route file).
  # ──────────────────────────────────────────────────────────────────────
  /api/roosts:
    x-stub: true
    get:
      operationId: listRoosts
      tags: [roosts]
      summary: list roosts in a site
      description: |
        Lists roosts the caller has access to within a site.
        Cursor-paginated; `siteId` query is required. Use `page_size`
        and `page_token`; legacy `limit` and `cursor` are accepted for
        existing clients.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostVersionHeader'
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include soft-deleted roosts.
      responses:
        '200':
          description: Paginated roost list.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema:
                type: object
                required: [roosts, next_page_token]
                properties:
                  roosts:
                    type: array
                    items: { $ref: '#/components/schemas/RoostSummary' }
                  next_page_token:
                    type: string
                  nextPageToken:
                    type: string
                    deprecated: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createRoost
      tags: [roosts]
      summary: create roost
      description: |
        Creates a new empty roost. Publish a version to populate it.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostVersionHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRoostRequest' }
      responses:
        '201':
          description: Roost created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roost' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '402': { $ref: '#/components/responses/Problem402' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: getRoost
      tags: [roosts]
      summary: fetch roost detail
      description: |
        Returns the roost's current state including `currentVersionId`
        and `previousVersionId`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      x-stub: true
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Roost detail.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roost' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    patch:
      operationId: patchRoost
      tags: [roosts]
      summary: rename roost or change target machines
      description: |
        Updates the roost's name and/or target machine list. Does not
        affect version history.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      x-stub: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/IfMatchHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PatchRoostRequest' }
      responses:
        '200':
          description: Roost updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roost' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '412': { $ref: '#/components/responses/Problem412' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: deleteRoost
      tags: [roosts]
      summary: soft-delete roost
      description: |
        Deletes the roost doc + versions subcollection. Content chunks
        in R2 are reclaimed by the chunk gc mark-and-sweep (not
        immediate). 30-day tombstone; chunks referenced only by this
        roost become eligible for gc at that point.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Roost deleted.
          content:
            application/json:
              schema:
                type: object
                required: [deleted, roostId, versionsDeleted]
                properties:
                  deleted:
                    type: boolean
                    example: true
                  roostId:
                    type: string
                  versionsDeleted:
                    type: integer
                    description: Count of version docs purged.
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '412': { $ref: '#/components/responses/Problem412' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/rollback:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    post:
      operationId: rollbackRoost
      tags: [roosts]
      summary: flip currentVersionId to a previously-published version
      description: |
        Rolls a roost back by flipping its `currentVersionId` pointer to
        a previously-published version. Does NOT mint a new version —
        rollback is a pointer change, not a publish, and versions are
        immutable once written.

        `targetVersion` accepts every form supported by the version-ref
        resolver:
          - alias: `current` | `previous` | `first`
          - stable id: 64-char sha-256 hex, or legacy `vrs_<hex>`
          - number: `3` / `"3"` / `"#3"` / `"v3"`
        Defaults to `previous` when omitted, matching one-click
        "undo last publish".

        Auth: scope `rollback`. The scope grammar separates rollback
        from write so an operator key can be issued with rollback-only
        powers (no new pushes).
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId]
              properties:
                siteId:
                  type: string
                targetVersion:
                  oneOf:
                    - type: string
                    - type: integer
                  nullable: true
                  description: |
                    Version to roll back to. Accepts an alias
                    (`current` | `previous` | `first`), a stable id
                    (64-char sha-256 hex, or legacy `vrs_<hex>`), or a number (`3` / `"v3"` / `"#3"`).
                    Defaults to `previous` when omitted.
      responses:
        '200':
          description: Pointer flipped. Returns the new current/previous ids.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - roostId
                  - siteId
                  - currentVersionId
                  - currentVersionNumber
                properties:
                  ok:
                    type: boolean
                  roostId:
                    type: string
                  siteId:
                    type: string
                  currentVersionId:
                    type: string
                  currentVersionNumber:
                    type: integer
                  previousVersionId:
                    type: string
                    nullable: true
        '400':
          description: |
            Validation failed. Codes include `version_ref_malformed`
            (bad `targetVersion` grammar) and `rollback_no_op`
            (target is already the current version).
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '422':
          description: |
            Idempotency-Key reuse with a different request body.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 3. versions — list, publish, detail, files, and diff are live.
  # ──────────────────────────────────────────────────────────────────────
  /api/roosts/{roostId}/versions/{versionRef}:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/VersionRefPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: getVersion
      tags: [versions]
      summary: fetch full version body
      description: |
        Returns the full oci version body.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Version detail with full layer list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VersionDetail' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    patch:
      operationId: updateVersionDescription
      tags: [versions]
      summary: edit a published version's description
      description: |
        Edits the `description` field on an already-published version.
        The version's content (files, chunks) is immutable once
        published — any other body field is rejected with
        `version_content_immutable`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, description]
              properties:
                siteId:
                  type: string
                description:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: |
                    New description. ≤ 500 chars; longer payloads are
                    rejected with 400. Empty / whitespace-only strings
                    are stored as null.
      responses:
        '200':
          description: Updated version metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VersionSummary' }
        '400':
          description: |
            Validation failed. Returns 400 with code
            `version_content_immutable` if the body contains any field
            other than `siteId` / `description`, or `version_ref_malformed`
            if the path `versionRef` has an invalid grammar.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/versions/{versionRef}/files:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/VersionRefPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: listVersionFiles
      tags: [versions]
      summary: paginated flat file list for a version
      description: |
        Flat, cursor-paginated list of files in a version. Avoids
        downloading the full oci layer array for large roosts.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
        - name: prefix
          in: query
          required: false
          schema:
            type: string
          description: POSIX path prefix filter (e.g. `assets/`).
      responses:
        '200':
          description: Paginated file list.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/VersionFile' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/versions/{versionRef}/diff:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/VersionRefPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: diffVersions
      tags: [versions]
      summary: file-level diff between two versions
      description: |
        Returns the `added`, `removed`, and `modified` file sets
        between the path's version (`to`) and the `against` query
        parameter (`from`).
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - name: against
          in: query
          required: true
          schema:
            type: string
            pattern: '^([0-9a-f]{64}|vrs_[0-9a-f]{64}|[1-9][0-9]*|[#vV][1-9][0-9]*|current|previous|first)$'
          description: The "from" versionRef to diff against.
      responses:
        '200':
          description: Diff result.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DiffResult' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 4. chunks — check/upload-urls/download-urls are live above.
  # mount + referrers are live.
  # ──────────────────────────────────────────────────────────────────────
  /api/chunks/{digest}/mount:
    parameters:
      - $ref: '#/components/parameters/DigestPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    post:
      operationId: mountChunk
      tags: [chunks]
      summary: cross-roost chunk mount (zero-byte dedup)
      description: |
        Copies the chunk's virtual reference from `from` (source roost)
        into `toRoostId` (target roost). No bytes moved — R2 key stays
        the same; only the referrer set is updated. This is the dedup
        moat: cross-roost reuse without re-upload.
        See [chunks.md](../docs/api/chunks.md#cross-roost-mount).
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: Source roost id (caller must hold `read` scope on it).
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MountChunkRequest' }
      responses:
        '200':
          description: Mount succeeded.
          content:
            application/json:
              schema:
                type: object
                required: [digest, siteId, from, to, mounted, zeroByte]
                properties:
                  digest:
                    type: string
                    pattern: '^[0-9a-f]{64}$'
                  siteId: { type: string }
                  from: { type: string }
                  to:   { type: string }
                  mounted: { type: boolean }
                  zeroByte: { type: boolean }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '402': { $ref: '#/components/responses/Problem402' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/chunks/{digest}/referrers:
    parameters:
      - $ref: '#/components/parameters/DigestPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: listChunkReferrers
      tags: [chunks]
      summary: list versions referencing a chunk
      description: |
        Lists versions currently referencing a chunk. Used by ops
        tooling and the gc mark-and-sweep.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
      responses:
        '200':
          description: Paginated referrers.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ChunkReferrer' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 5. deployments (rollouts) — rollback, deploy, history, and detail are live.
  # ──────────────────────────────────────────────────────────────────────
  /api/roosts/{roostId}/deploy:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    post:
      operationId: deployRoost
      tags: [deployments]
      summary: trigger targeted rollout
      description: |
        Triggers fan-out of a specific version to a subset of the
        roost's target machines. Supports scheduling, dry-run, and
        canary-then-fleet strategy. 202 Accepted — see the response
        `rolloutId` and poll `/api/roosts/{roostId}/deployments/{rolloutId}`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/IfMatchHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeployRequest' }
      responses:
        '202':
          description: Rollout queued.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeploymentPlan' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '402': { $ref: '#/components/responses/Problem402' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '412': { $ref: '#/components/responses/Problem412' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/deployments:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: listRoostDeployments
      tags: [deployments]
      summary: list rollout history for a roost
      description: |
        Cursor-paginated rollout history (deploys + rollbacks),
        newest first.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
        - name: stage
          in: query
          required: false
          schema:
            type: string
            enum: [scheduled, canary, complete, aborted]
          description: Filter by rollout stage.
      responses:
        '200':
          description: Paginated deployments.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/DeploymentStatus' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/roosts/{roostId}/deployments/{rolloutId}:
    parameters:
      - $ref: '#/components/parameters/RoostIdPath'
      - $ref: '#/components/parameters/RolloutIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: getRoostDeployment
      tags: [deployments]
      summary: fetch rollout detail (per-machine state)
      description: |
        Per-machine state machine snapshot for one rollout (canary →
        fleet progression).
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/SiteIdQuery'
      responses:
        '200':
          description: Rollout detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeploymentStatus' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 6. sites (public management surface)
  # ──────────────────────────────────────────────────────────────────────
  /api/sites:
    get:
      operationId: listAccessibleSites
      tags: [sites]
      summary: list sites accessible to the caller
      description: |
        Lists sites visible to the caller. Session and Firebase ID-token
        callers see the account sites they can access. Scoped API keys
        must carry explicit `site` scopes; scoped keys with only
        roost/machine/chat/user/installer scopes return an empty list.
        Legacy unscoped keys retain the account view and receive the
        legacy-scope deprecation header.

        This endpoint is intentionally unpaginated for the MVP.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Accessible sites.
          content:
            application/json:
              schema:
                type: object
                required: [sites]
                properties:
                  sites:
                    type: array
                    items: { $ref: '#/components/schemas/SiteSummary' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createSite
      tags: [sites]
      summary: create a site
      description: |
        Creates a top-level site owned by the caller. Requires a
        superadmin caller; API-key callers must hold `site=*:admin`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, name]
              properties:
                siteId: { type: string }
                name: { type: string, maxLength: 200 }
                timezone: { type: string, nullable: true }
      responses:
        '201':
          description: Site created.
          content:
            application/json:
              schema:
                type: object
                required: [siteId, name, timezone, owner, createdAt]
                properties:
                  siteId: { type: string }
                  name: { type: string }
                  timezone: { type: string }
                  owner: { type: string }
                  createdAt: { type: integer, format: int64 }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    get:
      operationId: getSite
      tags: [sites]
      summary: fetch site detail
      description: |
        Returns site metadata. Requires `site=<siteId>:read`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Site detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteDetail' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    patch:
      operationId: updateSite
      tags: [sites]
      summary: update site settings
      description: |
        Updates mutable site settings. Requires `site=<siteId>:admin`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 200 }
                timezone: { type: string }
                timeFormat: { type: string, enum: [12h, 24h] }
      responses:
        '200':
          description: Site updated, or no mutable fields were supplied.
          content:
            application/json:
              schema:
                type: object
                required: [siteId, changed, updated]
                properties:
                  siteId: { type: string }
                  changed: { type: boolean }
                  updated:
                    type: object
                    additionalProperties: { type: string }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: deleteSite
      tags: [sites]
      summary: delete a site
      description: |
        Deletes the top-level site document. Requires
        `site=<siteId>:admin`. Subcollection cascade cleanup is deferred
        from the MVP surface.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      responses:
        '200':
          description: Site deleted.
          content:
            application/json:
              schema:
                type: object
                required: [siteId, deleted]
                properties:
                  siteId: { type: string }
                  deleted: { type: boolean }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 7. machines
  # ──────────────────────────────────────────────────────────────────────
  /api/sites/{siteId}/machines:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    get:
      operationId: listSiteMachines
      tags: [machines]
      summary: list machines in a site
      description: |
        Machine inventory with online state and current roost summaries.
        The MVP route is intentionally unpaginated and returns all machines
        visible in the site.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Unpaginated machine list.
          content:
            application/json:
              schema:
                type: object
                required: [machines]
                properties:
                  machines:
                    type: array
                    items: { $ref: '#/components/schemas/MachineSummary' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/machines/{machineId}:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - $ref: '#/components/parameters/MachineIdSitePath'
    get:
      operationId: getSiteMachine
      tags: [machines]
      summary: fetch machine detail
      description: |
        Full detail for a single machine: inventory fields, heartbeat,
        telemetry metrics, and reported process snapshots.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Machine detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineDetail' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: deleteSiteMachine
      tags: [machines]
      summary: remove a machine from a site
      description: |
        Hard-deletes the machine document, its config document, and the
        fixed pending/completed command-map documents. Requires
        `MACHINE_REMOVE`; in the current role matrix this is superadmin-only.
        API-key callers also need `machine=<machineId>:write`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      responses:
        '200':
          description: Machine removal completed.
          content:
            application/json:
              schema:
                type: object
                required: [ok, data]
                properties:
                  ok: { type: boolean }
                  data: { $ref: '#/components/schemas/RemoveMachineResult' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '422': { $ref: '#/components/responses/Problem422' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/machines/{machineId}/deployments:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - $ref: '#/components/parameters/MachineIdSitePath'
    get:
      operationId: listMachineDeployments
      tags: [machines]
      summary: per-machine deployment history
      description: |
        Lists the current per-roost deployment state for roosts that target
        the machine. The MVP route is intentionally unpaginated.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Current per-roost deployment state.
          content:
            application/json:
              schema:
                type: object
                required: [siteId, machineId, deployments]
                properties:
                  siteId: { type: string }
                  machineId: { type: string }
                  deployments:
                    type: array
                    items: { $ref: '#/components/schemas/MachineDeployment' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 7b. installer-deploys (api-sprint wave 1 — track 1A)
  #     Public, scoped, api-key-friendly deployment endpoints.
  # ──────────────────────────────────────────────────────────────────────
  /api/sites/{siteId}/deployments:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - $ref: '#/components/parameters/RoostVersionHeader'
    get:
      operationId: listSiteDeployments
      tags: [Deployments]
      summary: list installer deployments for a site
      description: |
        Cursor-paginated list of installer deployments on a site,
        newest first. Requires `site=<siteId>:read`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
      responses:
        '200':
          description: Paginated deployments.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_page_token]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/InstallerDeploymentSummary' }
                  next_page_token:
                    type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createSiteDeployment
      tags: [Deployments]
      summary: create an installer deployment
      description: |
        Creates a deployment record + fans out `install_software`
        commands to each target machine. Requires
        `site=<siteId>:write` and an `Idempotency-Key` header for
        replay-safe retries.

        Per-site target quota is read from `sites/{siteId}.deployQuota`
        (default 100). Requests over the quota return 413 with
        `code: over_quota`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
[...]
