openapi: 3.1.0
info:
  title: Owlette API
  version: 2.3.1
  description: |
    The Owlette API lets you programmatically manage your fleet of Windows machines,
    deploy software, monitor processes, execute tools, and integrate with external systems
    via webhooks.

    ## Authentication

    Protected API requests use scoped credentials. New public integrations
    should send `Authorization: Bearer owk_live_...` or
    `Authorization: Bearer owk_test_...`.
    Create API keys from the Owlette dashboard under Settings > API Keys.
    Scripted `POST /api/keys` creation requires a user session or Firebase ID
    token; API keys cannot bootstrap broader replacement keys.

    Include your API key using one of these methods:

    - **Header** (recommended): `Authorization: Bearer owk_your_key_here`
    - **Legacy header**: `x-api-key: owk_your_key_here`
    - **Compatibility query parameter**: `?api_key=owk_your_key_here`

    Every protected operation includes an Authentication and scopes note. API-key
    callers must hold at least one listed scope and must also satisfy resource
    ownership, site membership, role, and capability checks.

    ## Versioning

    Owlette does not require a new global API-version header for the
    developer-preview MVP. Roost/project-distribution routes may accept the
    existing advisory `Roost-Version: YYYY-MM-DD` header; missing headers can
    emit `X-Roost-Version-Missing: true`.

    ## Rate Limiting

    Responses may include `RateLimit-Limit`, `RateLimit-Remaining`,
    `RateLimit-Reset`, and `Retry-After`. API-key traffic is bucketed by key id
    where available. See `/docs/api/rate-limits`.

    ## Pagination

    Collection endpoints use `page_size` and `page_token`, and return
    `next_page_token` when paginated. Some compatibility routes also accept
    `limit` / `cursor` or return `nextPageToken`. See `/docs/api/pagination`.

    ## Idempotency

    Mutating endpoints that can trigger side effects require or accept
    `Idempotency-Key`. Replays are scoped to the same user, environment,
    method, path, query, and body hash. See `/docs/api/idempotency`.

    ## Errors

    Public errors use `application/problem+json` with stable `code`,
    `requestId`, and `docsUrl` fields. Some dashboard compatibility routes may
    retain a temporary `error` alias during the preview window:

    ```json
    { "error": "Description of what went wrong" }
    ```

    Common HTTP status codes:
    | Code | Meaning |
    |------|---------|
    | 400  | Bad request - missing or invalid parameters |
    | 401  | Unauthorized - missing or invalid API key |
    | 403  | Forbidden - no access to this site or resource |
    | 404  | Not found |
    | 409  | Conflict - resource is in an incompatible state |
    | 429  | Rate limit exceeded |
    | 500  | Internal server error |

    ## Base URLs

    | Environment | URL |
    |-------------|-----|
    | Production  | `https://owlette.app` |
    | Development | `https://dev.owlette.app` |
  license:
    name: FSL-1.1-Apache-2.0
    url: https://fsl.software/FSL-1.1-Apache-2.0.template.md
  contact:
    name: Owlette Support

servers:
  - url: https://owlette.app
    description: Production
  - url: https://dev.owlette.app
    description: Development

security:
  - apiKey: []
  - bearerApiKey: []
  - firebaseIdToken: []

tags:
  # One Title-Case tag per resource. Each operation's `tags:` value must match
  # one of these names exactly (case-sensitive) — an unmatched value spawns a
  # description-less group, and a name with no operations renders as an empty
  # section. Keep this list and the operation tags in sync.
  - name: Sites
    description: List, create, and manage sites, and issue or revoke agent enrollment tokens.
  - name: Machines
    description: Monitor and manage machines in your fleet — inventory, commands, display layout, reboot schedules, and uninstall.
  - name: Processes
    description: Configure and control monitored processes.
  - name: Screenshots
    description: |
      Capture, retrieve, and delete machine screenshots. To capture, send
      `type: capture_screenshot` to the machine commands endpoint
      (`POST .../machines/{machineId}/commands`), then poll the returned
      command for a signed `result.screenshot_url`.
  - name: Deployments
    description: Deploy installers and project distributions to machines; track, retry, and cancel rollouts.
  - name: Presets
    description: Manage site-scoped schedule, reboot, distribution, and deployment-template presets.
  - name: Alerts
    description: Manage alert rules.
  - name: Talons
    description: |
      Automations that watch a site and act on it — a trigger (schedule,
      metric threshold, or event), an optional condition, and one or more
      outputs (email, webhook, hoot directive, process command).
  - name: Logs
    description: Query activity logs.
  - name: Audit Log
    description: |
      Tamper-evident, hash-chained log of every mutating operation
      performed against a site's roost resources.
  - name: Quotas
    description: Storage and bandwidth usage against plan limits.
  - name: Webhooks
    description: |
      HTTP-callback subscriptions for roost events (publish, rollback,
      deploy, quota, etc.). See [webhooks.md](/docs/api/webhooks).
  - name: API Keys
    description: |
      Self-service api key management. Scoped, expiring bearer tokens
      (`owk_live_*` / `owk_test_*`) used to authenticate every public
      roost request. See [authentication.md](/docs/api/authentication).
  - name: Installer
    description: Agent installer versions, platform system presets, and TouchDesigner builds.
  - name: Hoot
    description: AI-powered chat and tool execution.
  - name: Users
    description: Manage platform users — roles, site assignments, and account provisioning.
  - name: Site Members
    description: Manage per-site membership and member roles.
  - name: Roost
    description: |
      Content-addressed project sync (v2). Upload folders once,
      fan out atomic deploys to the fleet, roll back instantly.
      All roost endpoints use RFC 7807 `application/problem+json`
      error envelopes (see the `ProblemDetails` schema).
  - name: Versions
    description: |
      Immutable oci-style roost versions. Every publish creates a new
      version; rollback is a pointer flip. See [versions.md](/docs/api/versions).
  - name: Chunks
    description: |
      Content-addressed blob layer for roost. Dedup lookup, signed
      upload/download urls, cross-roost mount. See [chunks.md](/docs/api/chunks).
  - name: Utility
    description: Identity, version, live event stream, and platform diagnostics.

# Sidebar grouping (Scalar / Redocly `x-tagGroups`). NOTE: every tag declared
# above must appear in exactly one group — Scalar hides any tag that is not in
# a group. Keep this in sync when adding or renaming tags.
x-tagGroups:
  - name: fleet
    tags: [Sites, Machines, Processes, Screenshots]
  - name: deployment
    tags: [Deployments, Presets, Installer]
  - name: roost
    tags: [Roost, Versions, Chunks, Audit Log]
  - name: hoot
    tags: [Hoot]
  - name: monitoring
    tags: [Logs, Alerts, Talons, Quotas]
  - name: access & identity
    tags: [Users, Site Members, API Keys]
  - name: platform
    tags: [Webhooks, Utility]

paths:
  /api/account/api-keys:
    get:
      operationId: listAccountApiKeys
      tags: [API Keys]
      summary: List account API keys
      description: Lists API key metadata for the authenticated superadmin account. Raw keys and hashes are never returned.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: API keys
          content:
            application/json:
              schema:
                type: object
                required: [success, keys]
                properties:
                  success: { type: boolean }
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createAccountApiKey
      tags: [API Keys]
      summary: Create account API key
      description: |
        Creates a superadmin account API key and returns the raw key once.
        New account keys use modern scoped metadata; scoped API-key callers
        carry their existing scopes forward rather than widening them.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: API key created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyCreateResponse' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/account/api-keys/{keyId}:
    parameters:
      - name: keyId
        in: path
        required: true
        schema: { type: string }
    delete:
      operationId: revokeAccountApiKey
      tags: [API Keys]
      summary: Revoke account API key
      description: |
        Revokes an API key owned by the authenticated superadmin account. Same
        semantics as `DELETE /api/keys/{keyId}`: immediate, not a delete — the
        key is stamped `revokedAt` and kept — and idempotent.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: API key revoked
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/platform/email/config:
    get:
      operationId: getPlatformEmailConfig
      tags: [Utility]
      summary: Get platform email configuration
      description: Returns platform email provider configuration for superadmin diagnostics.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Email configuration

  /api/platform/security/kill-switch:
    post:
      operationId: updateSecurityKillSwitch
      tags: [Utility]
      summary: Update security migration kill switch
      description: Flips capability or rate-limit enforcement for a bounded period. Superadmin only.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Kill switch updated
        '400':
          description: Validation error

  /api/platform/system-presets:
    get:
      operationId: listPlatformSystemPresets
      tags: [Installer]
      summary: List platform system presets
      description: Lists global system presets shared across sites.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: System presets
    post:
      operationId: createPlatformSystemPreset
      tags: [Installer]
      summary: Create platform system preset
      description: Creates a global system preset. Superadmin only.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '201':
          description: Preset created

  /api/platform/system-presets/{presetId}:
    parameters:
      - name: presetId
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getPlatformSystemPreset
      tags: [Installer]
      summary: Get platform system preset
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: System preset
    patch:
      operationId: updatePlatformSystemPreset
      tags: [Installer]
      summary: Update platform system preset
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Preset updated
    delete:
      operationId: deletePlatformSystemPreset
      tags: [Installer]
      summary: Delete platform system preset
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '204':
          description: Preset deleted

  /api/platform/touchdesigner/builds:
    get:
      operationId: listTouchDesignerBuilds
      tags: [Installer]
      summary: List TouchDesigner builds
      description: Fetches recent TouchDesigner installer builds from Derivative's archive page. Superadmin only.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: TouchDesigner builds

  /api/sites/{siteId}/agent-tokens:
    parameters:
      - name: siteId
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: listSiteAgentTokens
      tags: [Sites]
      summary: List site agent refresh tokens
      description: |
        Lists agent refresh token metadata for a site. Superadmin-only via
        `GLOBAL_SETTINGS_WRITE`; API-key callers need site read scope and a
        superadmin owning user.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Agent tokens.
          content:
            application/json:
              schema:
                type: object
                required: [tokens, count]
                properties:
                  tokens:
                    type: array
                    items:
                      type: object
                      required: [id]
                      properties:
                        id: { type: string }
                        machineId: { type: string, nullable: true }
                        version: { type: string, nullable: true }
                        createdBy: { type: string, nullable: true }
                        createdAt: { type: string, format: date-time, nullable: true }
                        lastUsed: { type: string, format: date-time, nullable: true }
                        expiresAt: { type: string, format: date-time, nullable: true }
                        agentUid: { type: string, nullable: true }
                  count: { type: integer, minimum: 0 }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/agent-tokens/revoke:
    parameters:
      - name: siteId
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: revokeSiteAgentTokens
      tags: [Sites]
      summary: Revoke site agent refresh tokens
      description: |
        Revokes one token, all tokens for a machine, or all tokens for a site.
        Superadmin-only via `GLOBAL_SETTINGS_WRITE`; API-key callers need site
        write scope and a superadmin owning user.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenId: { type: string }
                machineId: { type: string }
                all: { type: boolean }
              anyOf:
                - required: [tokenId]
                - required: [machineId]
                - required: [all]
      responses:
        '200':
          description: Tokens revoked.
          content:
            application/json:
              schema:
                type: object
                required: [success, revokedCount, message]
                properties:
                  success: { type: boolean }
                  revokedCount: { type: integer, minimum: 0 }
                  message: { type: string }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/alerts:
    parameters:
      - name: siteId
        in: path
        required: true
        schema: { type: string }
    put:
      operationId: setSiteAlertRules
      tags: [Alerts]
      summary: Set site alert rules
      description: Replaces the alert rules array at `sites/{siteId}/settings/alerts`. Requires `site=<siteId>:write`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Alert rules saved

  /api/sites/{siteId}/talons:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    get:
      operationId: listTalons
      tags: [Talons]
      summary: list the site's talons
      description: |
        Returns every talon on the site, ordered by name. Not paginated — a
        site may hold at most 20 talons. Webhook signing secrets live in a
        server-only collection and are never returned by any endpoint.

        Requires `TALON_MANAGE`; API keys need `site=<siteId>:read`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: The site's talons.
          content:
            application/json:
              schema:
                type: object
                required: [talons]
                properties:
                  talons:
                    type: array
                    items: { $ref: '#/components/schemas/Talon' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createTalon
      tags: [Talons]
      summary: create a talon
      description: |
        Creates a talon at `sites/{siteId}/talons/{talonId}` and, when the
        talon has a `webhook` output, mints its signing secret in the same
        commit. The secret is never returned.

        Additional preconditions, each reported as a problem `code`:

        - `command` outputs may only be authored by a site admin
          (`403 command_output_forbidden`).
        - `webhook` output urls are re-checked against private, loopback, and
          link-local ranges after DNS resolution (`400 invalid_webhook_url`).
        - a `visual_check` condition or a `cortex` output needs a site-level
          LLM key, since both call the model with no user in the loop
          (`400 site_llm_key_required`).
        - a site already holding 20 talons answers `409 talon_limit_reached`.

        Validation failures (`400 invalid_talon`) carry an RFC 7807 `errors`
        map plus a `fieldErrors` array of `{ field, code, message }` for
        inline rendering.

        Requires `TALON_MANAGE`; API keys need `site=<siteId>:write`.
        Accepts `Idempotency-Key`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TalonInput' }
      responses:
        '201':
          description: Talon created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Talon' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '422': { $ref: '#/components/responses/Problem422' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/talons/authored:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - name: uid
        in: query
        required: true
        description: The author whose talons to list.
        schema: { type: string, pattern: '^[A-Za-z0-9_-]{1,128}$' }
    get:
      operationId: listAuthoredTalons
      tags: [Talons]
      summary: talons one person authored on this site
      description: |
        The departure preview. Removing a member touches nothing under
        `sites/{siteId}`, so their talons survive the removal — but a talon
        with a `cortex` output re-resolves its AUTHOR's site access on every
        run, so it starts failing the moment they lose access. Call this before
        removing a member to learn what that removal will break.

        Names only — this is not a second way to read a talon. Bounded by the
        20-talon per-site cap.

        Requires `TALON_MANAGE`; API keys need `site=<siteId>:read`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: What this person authored here.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [siteId, uid, count, talons]
                properties:
                  siteId: { type: string }
                  uid: { type: string }
                  count: { type: integer }
                  talons:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required: [id, name, enabled]
                      properties:
                        id: { type: string }
                        name: { type: string }
                        enabled: { type: boolean }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/talons/reassign:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    post:
      operationId: reassignTalons
      tags: [Talons]
      summary: hand talon authorship to a successor
      description: |
        Rewrites `createdBy` on one or more talons. Use it before the person
        who wrote them loses access — an unattended run resolves the author's
        site access, not the operator's, so an orphaned author is an
        automation that stops.

        Selection is exactly one of:

        - `fromUid` — every talon on the site currently authored by that uid
          (the departure case);
        - `talonIds` — an explicit list.

        The successor is held to the same bar the store holds every author to:
        an active (non-soft-deleted) account with `TALON_MANAGE` on this site,
        and `MACHINE_EXEC_COMMAND` as well when any selected talon carries a
        `command` output or a `cortex` output with `allowActions`. A refusal is
        `400 successor_invalid`.

        All-or-nothing: nothing is written unless every selected talon exists
        and the successor clears both gates — a partial move would leave some
        automations orphaned with no signal which. Talons already authored by
        the successor come back in `skippedTalonIds` without a write.

        Requires `TALON_MANAGE`; API keys need `site=<siteId>:write`.
        Accepts `Idempotency-Key`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [toUid]
              properties:
                toUid:
                  type: string
                  description: The successor who inherits authorship.
                  pattern: '^[A-Za-z0-9_-]{1,128}$'
                fromUid:
                  type: string
                  description: Move every talon this uid authored. Mutually exclusive with `talonIds`.
                  pattern: '^[A-Za-z0-9_-]{1,128}$'
                talonIds:
                  type: array
                  description: Move exactly these talons. Mutually exclusive with `fromUid`.
                  items: { type: string }
                  maxItems: 20
      responses:
        '200':
          description: What moved.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [siteId, toUid, reassignedTalonIds, skippedTalonIds, reassignedCount]
                properties:
                  siteId: { type: string }
                  toUid: { type: string }
                  reassignedTalonIds:
                    type: array
                    items: { type: string }
                  skippedTalonIds:
                    type: array
                    description: Already authored by the successor — untouched.
                    items: { type: string }
                  reassignedCount: { type: integer }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/talons/{talonId}:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - $ref: '#/components/parameters/TalonIdPath'
    get:
      operationId: getTalon
      tags: [Talons]
      summary: fetch a talon
      description: |
        Requires `TALON_MANAGE`; API keys need `site=<siteId>:read`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: The talon.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Talon' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    patch:
      operationId: updateTalon
      tags: [Talons]
      summary: toggle or replace a talon
      description: |
        Two shapes, chosen by the body:

        - `{ "enabled": <bool> }` and nothing else flips the talon on or off.
          Enabling re-arms `nextRunAt` from now, so a talon that sat disabled
          for a month does not fire the instant it is switched back on.
        - anything else replaces the caller-owned fields wholesale and is
          revalidated exactly like a create — including the `command`-output
          privilege gate, the webhook-url SSRF check, and the author-LLM-key
          precondition. Omitted optional fields return to their defaults.

        Run bookkeeping (`lastRunAt`, `lastRunStatus`, `consecutiveFailures`)
        is never touched by either shape. `disabledReason` is cleared by the
        enable/disable shape — a person moving the switch settles the question
        of why it moved.

        Requires `TALON_MANAGE`; API keys need `site=<siteId>:write`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/TalonEnabledPatch'
                - $ref: '#/components/schemas/TalonInput'
      responses:
        '200':
          description: The updated talon.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Talon' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: deleteTalon
      tags: [Talons]
      summary: delete a talon
      description: |
        Deletes the talon and its webhook signing secret in one commit. Run
        history in `talon_runs` is kept on purpose — it is an audit surface
        and outlives the talon it describes, so
        `GET /api/sites/{siteId}/talons/{talonId}/runs` keeps answering after
        a delete. A repeat delete answers `404 talon_not_found`.

        Requires `TALON_MANAGE`; API keys need `site=<siteId>:write`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '204':
          description: Talon deleted.
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/talons/{talonId}/runs:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - $ref: '#/components/parameters/TalonIdPath'
      - $ref: '#/components/parameters/PageSizeQuery'
      - $ref: '#/components/parameters/PageTokenQuery'
    get:
      operationId: listTalonRuns
      tags: [Talons]
      summary: list a talon's run history
      description: |
        Cursor-paginated execution records for one talon, most recent first.
        The talon does not have to still exist: run records outlive the talon
        they describe, so a deleted talon returns its history rather than 404.

        Requires `TALON_MANAGE`; API keys need `site=<siteId>:read`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: A page of run records.
          content:
            application/json:
              schema:
                type: object
                required: [runs, next_page_token]
                properties:
                  runs:
                    type: array
                    items: { $ref: '#/components/schemas/TalonRun' }
                  next_page_token:
                    type: string
                    description: Empty string when there are no more pages.
                  nextPageToken:
                    type: string
                    description: Compatibility alias for `next_page_token`.
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/talons/{talonId}/test:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - $ref: '#/components/parameters/TalonIdPath'
    post:
      operationId: runTalon
      tags: [Talons]
      summary: run a talon on demand
      description: |
        Runs the talon immediately, exactly as a trigger fire would — condition
        gate first, then the outputs — and answers with one summary per machine
        the talon's scope resolved to. The full records are readable from
        `GET /api/sites/{siteId}/talons/{talonId}/runs`.

        Two things differ from a triggered run: the cooldown is bypassed, and
        every recorded run carries `manual: true`. Overlap is still prevented —
        when another execution already holds the talon's slot, the response
        carries a `skipped` summary instead of starting a second live run.

        Not idempotent: calling twice runs the talon twice. Unlike creation it
        is not pro-gated, so a downgraded site can still exercise the talons it
        already has, exactly as the scheduler does.

        Requires `TALON_MANAGE`; API keys need `site=<siteId>:write`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: The runs this fire recorded.
          content:
            application/json:
              schema:
                type: object
                required: [runs]
                properties:
                  runs:
                    type: array
                    items: { $ref: '#/components/schemas/TalonRunSummary' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/machines/{machineId}/screenshots:
    parameters:
      - name: siteId
        in: path
        required: true
        schema: { type: string }
      - name: machineId
        in: path
        required: true
        schema: { type: string }
      - name: screenshotId
        in: query
        required: false
        schema: { type: string }
    delete:
      operationId: deleteSiteMachineScreenshots
      tags: [Screenshots]
      summary: Delete machine screenshots
      description: |
        Deletes one screenshot by id, or all screenshot history for the machine
        when omitted. Requires `machine=<machineId>:write`. Response shape is
        transitional JSON (`{ success, deleted }`) for dashboard compatibility.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Screenshots deleted.
          content:
            application/json:
              schema:
                type: object
                required: [success, deleted]
                properties:
                  success: { type: boolean }
                  deleted: { type: integer, minimum: 0 }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # Sites
  # ──────────────────────────────────────────────────────────────────────
  # ──────────────────────────────────────────────────────────────────────
  # API Keys
  # ──────────────────────────────────────────────────────────────────────
  /api/sites/{siteId}/logs:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
    get:
      operationId: listSiteLogs
      tags: [Logs]
      summary: List operational site logs
      description: |
        Lists entries from `sites/{siteId}/logs`, newest first. This is
        the operational log surface used for agent/process/deployment
        events, distinct from the tamper-evident audit log.
        Use `page_size` and `page_token`; legacy `limit` and `cursor`
        are accepted for existing callers.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: page_token
          in: query
          schema: { type: string }
          description: Previous response `next_page_token`.
        - name: action
          in: query
          schema: { type: string }
          description: Exact action filter, e.g. `process_crash`.
        - name: machineId
          in: query
          schema: { type: string }
          description: Exact machine id filter.
        - name: level
          in: query
          schema:
            type: string
            enum: [debug, info, warning, error, critical]
        - name: since
          in: query
          schema: { type: string }
          description: ISO 8601 or unix-ms lower timestamp bound.
        - name: until
          in: query
          schema: { type: string }
          description: ISO 8601 or unix-ms upper timestamp bound.
      responses:
        '200':
          description: Paginated operational logs
          content:
            application/json:
              schema:
                type: object
                required: [siteId, logs, next_page_token, nextPageToken]
                properties:
                  siteId: { type: string }
                  logs:
                    type: array
                    items: { $ref: '#/components/schemas/SiteLogEntry' }
                  next_page_token: { type: string }
                  nextPageToken:
                    type: string
                    deprecated: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: clearSiteLogs
      tags: [Logs]
      summary: Clear site logs
      description: |
        Deletes log entries from `sites/{siteId}/logs`. Optional filters
        match the current logs view: action, machineId, level, and a
        `since`/`until` timestamp window. Whole-site clearing (no filters)
        requires explicit `all: true`. Note: full-text search is client-side
        and does NOT scope deletion. API-key callers must hold
        `site=<siteId>:admin`; session callers need the site-log management
        capability.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                all:
                  type: boolean
                  description: Required and true when clearing all logs without filters.
                action:
                  type: string
                machineId:
                  type: string
                level:
                  type: string
                  enum: [debug, info, warning, error, critical]
                since:
                  type: string
                  description: ISO 8601 or unix-ms inclusive lower timestamp bound. Scopes deletion to a time window.
                until:
                  type: string
                  description: ISO 8601 or unix-ms inclusive upper timestamp bound.
      responses:
        '200':
          description: Logs cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  siteId:
                    type: string
                  deletedCount:
                    type: integer
                  filters:
                    type: object
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/sites/{siteId}/logs/{logId}:
    parameters:
      - $ref: '#/components/parameters/SiteIdPath'
      - name: logId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Za-z0-9_.:-]{1,256}$'
    get:
      operationId: getSiteLog
      tags: [Logs]
      summary: Get one operational site log
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Operational log entry
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteLogEntry' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/installer:
    get:
      operationId: listInstallers
      tags: [Installer]
      summary: List installer versions (public, superadmin)
      description: |
        Returns paginated installer versions, newest-first. Superadmin-only.
        API-key callers must hold `installer=*:read`. Use `page_size`
        and `page_token`; legacy `limit` and `cursor` are accepted for
        existing clients.
        Responses include canonical `next_page_token`; `nextPageToken` is
        retained as a deprecated compatibility alias.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: page_token
          in: query
          schema:
            type: string
          description: Cursor for the next page (opaque, returned by a previous response).
        - name: includeDeleted
          in: query
          schema:
            type: boolean
            default: false
          description: When true, soft-deleted versions are included.
      responses:
        '200':
          description: Paginated installer versions
          content:
            application/json:
              schema:
                type: object
                required: [versions, next_page_token]
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstallerVersion'
                  next_page_token:
                    type: string
                  nextPageToken:
                    type: string
                    deprecated: true
        '403':
          description: Forbidden — caller is not a superadmin or the API key lacks `installer=*:read`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/latest:
    get:
      operationId: getLatestInstaller
      tags: [Installer]
      summary: Get latest installer metadata (public, superadmin)
      description: |
        Returns the active latest installer metadata used by the admin
        dashboard and CLI. Superadmin-only; API-key callers must hold
        `installer=*:read`. The unauthenticated download permalink remains
        `GET /download`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      responses:
        '200':
          description: Latest active installer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallerVersion'
        '403':
          description: Forbidden; caller is not a superadmin or the API key lacks `installer=*:read`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: No active latest installer is available
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/upload:
    post:
      operationId: requestInstallerUpload
      tags: [Installer]
      summary: Request signed upload URL (step 1)
      description: |
        Step 1 of the two-step installer upload. Returns a signed PUT URL the
        client uses to upload the binary directly to Storage, plus an
        `uploadId` to pass to step 2 (`PUT /api/installer/upload`).
        Superadmin-only; API-key callers need `installer=*:write`.
        Honors `Idempotency-Key` for safe retry.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, fileName]
              properties:
                version:
                  type: string
                  description: Semver string (e.g. "3.0.0").
                fileName:
                  type: string
                  description: Must end in `.exe`.
                contentType:
                  type: string
                  default: application/octet-stream
                releaseNotes:
                  type: string
                  nullable: true
                setAsLatest:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Signed upload URL + opaque uploadId
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl:
                    type: string
                    format: uri
                  uploadId:
                    type: string
                  storagePath:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '400':
          description: Validation error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden — superadmin required
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '422':
          description: Idempotency-Key reused with a different request body
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      operationId: finalizeInstallerUpload
      tags: [Installer]
      summary: Finalize installer upload (step 2)
      description: |
        Step 2 of the two-step installer upload. Verifies the binary is in
        Storage, computes SHA-256 from the stored object, rejects a supplied
        `checksum_sha256` mismatch, and writes version metadata plus the
        `latest` pointer when `setAsLatest` was true at step 1. Superadmin-only;
        API-key callers need `installer=*:write`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [uploadId]
              properties:
                uploadId:
                  type: string
                checksum_sha256:
                  type: string
                  description: Optional — server computes if omitted.
      responses:
        '200':
          description: Upload finalized
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  download_url:
                    type: string
                    format: uri
                  checksum_sha256:
                    type: string
                  file_size:
                    type: integer
        '400':
          description: Validation error or missing Idempotency-Key
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Upload record or file not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Upload already finalized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '410':
          description: Upload window expired — restart the flow
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

        '412':
          description: Uploaded object checksum does not match `checksum_sha256`
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '422':
          description: Idempotency-Key reused with a different request body
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/{version}:
    delete:
      operationId: deleteInstallerVersion
      tags: [Installer]
      summary: Soft-delete an installer version
      description: |
        Soft-deletes the version (sets `deletedAt`); the storage object is
        retained. Refuses to drop the active count below 2 — returns 409
        `min_versions_violated` if it would. Idempotent: deleting an
        already-soft-deleted version returns 200 with `alreadyDeleted: true`.
        Superadmin-only; API-key callers need `installer=*:admin`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+$'
      responses:
        '200':
          description: Version deleted (or already deleted)
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  deletedAt:
                    type: integer
                  alreadyDeleted:
                    type: boolean
        '404':
          description: Version not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Current latest version is protected or min active version count would be violated
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /api/installer/{version}/set-latest:
    post:
      operationId: setInstallerLatest
      tags: [Installer]
      summary: Promote a version to latest
      description: |
        Atomically updates the `installer_metadata/latest` pointer to
        the given version. Refuses if the version is missing or
        soft-deleted. Superadmin-only; API-key callers need
        `installer=*:admin`. Honors `Idempotency-Key`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+$'
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Latest pointer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  latest:
                    $ref: '#/components/schemas/InstallerVersion'
        '400':
          description: Validation error or missing Idempotency-Key
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Version not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version is soft-deleted — restore before promoting
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  # ──────────────────────────────────────────────────────────────────────
        '422':
          description: Idempotency-Key reused with a different request body
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  # ──────────────────────────────────────────────────────────────────────
  # hoot — AI chat conversations (canonical) + the deprecated /api/cortex aliases
  # ──────────────────────────────────────────────────────────────────────
  /api/hoot/conversations:
    get:
      operationId: listHootConversations
      tags: [Hoot]
      summary: List Hoot conversations
      description: |
        List Hoot conversations the caller can see. API-key callers are
        filtered to sites where the key holds `chat=<siteId>:read` or
        `chat=*:read`. Pass `siteId` to narrow the page to one site.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: siteId
          in: query
          required: false
          schema: { type: string, pattern: '^[A-Za-z0-9_-]{1,128}$' }
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
        - name: includeDeleted
          in: query
          required: false
          schema: { type: boolean, default: false }
        - name: owner
          in: query
          required: false
          description: Set to `me` to filter to conversations owned by the caller.
          schema: { type: string, enum: [me] }
      responses:
        '200':
          description: Conversation page
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      conversations:
                        type: array
                        items:
                          $ref: '#/components/schemas/HootConversationSummary'
                      next_page_token: { type: string }
                      nextPageToken:
                        type: string
                        deprecated: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
    post:
      operationId: createHootConversation
      tags: [Hoot]
      summary: Create a Hoot conversation
      description: |
        Create a new Hoot conversation. Provide `machineId` to pin the
        conversation to one machine, or omit it for site-wide mode. Requires
        `chat=<siteId>:write` and `Idempotency-Key`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId]
              properties:
                siteId: { type: string }
                machineId: { type: string }
                title: { type: string, maxLength: 100 }
                initial_message:
                  type: object
                  required: [role, content]
                  properties:
                    role: { type: string, enum: [user] }
                    content: { type: string }
      responses:
        '201':
          description: Conversation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    $ref: '#/components/schemas/HootConversation'
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '409': { $ref: '#/components/responses/Problem409' }
        '422': { $ref: '#/components/responses/Problem422' }
        '429': { $ref: '#/components/responses/Problem429' }

  /api/cortex/conversations:
    get:
      deprecated: true
      operationId: listCortexConversations
      tags: [Hoot]
      summary: "[deprecated] List Hoot conversations — use /api/hoot/conversations"
      description: |
        List Hoot conversations the caller can see. API-key callers are
        filtered to sites where the key holds `chat=<siteId>:read` or
        `chat=*:read`. Pass `siteId` to narrow the page to one site.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - name: siteId
          in: query
          required: false
          schema: { type: string, pattern: '^[A-Za-z0-9_-]{1,128}$' }
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
        - name: includeDeleted
          in: query
          required: false
          schema: { type: boolean, default: false }
        - name: owner
          in: query
          required: false
          description: Set to `me` to filter to conversations owned by the caller.
          schema: { type: string, enum: [me] }
      responses:
        '200':
          description: Conversation page
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      conversations:
                        type: array
                        items:
                          $ref: '#/components/schemas/CortexConversationSummary'
                      next_page_token: { type: string }
                      nextPageToken:
                        type: string
                        deprecated: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
    post:
      deprecated: true
      operationId: createCortexConversation
      tags: [Hoot]
      summary: "[deprecated] Create a Hoot conversation — use /api/hoot/conversations"
      description: |
        Create a new Hoot conversation. Provide `machineId` to pin the
        conversation to one machine, or omit it for site-wide mode. Requires
        `chat=<siteId>:write` and `Idempotency-Key`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId]
              properties:
                siteId: { type: string }
                machineId: { type: string }
                title: { type: string, maxLength: 100 }
                initial_message:
                  type: object
                  required: [role, content]
                  properties:
                    role: { type: string, enum: [user] }
                    content: { type: string }
      responses:
        '201':
          description: Conversation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    $ref: '#/components/schemas/CortexConversation'
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '409': { $ref: '#/components/responses/Problem409' }
        '422': { $ref: '#/components/responses/Problem422' }
        '429': { $ref: '#/components/responses/Problem429' }

  /api/hoot/conversations/{conversationId}:
    parameters:
      - name: conversationId
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: sendHootConversationMessage
      tags: [Hoot]
      summary: Send a Hoot message and stream the reply
      description: |
        Append one user message and stream the assistant reply. The response is
        `text/plain; charset=utf-8` with `X-Vercel-AI-Data-Stream: v1` and
        AI-SDK line-prefixed frames (`0:"delta"`, `d:{...}`, `3:"err"`).

        Public send accepts only `role` and `content`; create a new
        conversation to change the target machine. API-key callers are capped
        to read-only Hoot tools during streamed replies.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role, content]
              additionalProperties: false
              properties:
                role: { type: string, enum: [user] }
                content: { type: string }
      responses:
        '200':
          description: AI-SDK text stream
          content:
            text/plain:
              schema: { type: string }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '422': { $ref: '#/components/responses/Problem422' }
        '423':
          description: Hoot disabled on target machine
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429': { $ref: '#/components/responses/Problem429' }
        '503':
          description: Hoot or target machine unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    patch:
      operationId: renameHootConversation
      tags: [Hoot]
      summary: Rename a Hoot conversation
      description: |
        Update the conversation title. Other fields are rejected with
        `forbidden_field`. Requires `chat=<siteId>:write`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              additionalProperties: false
              properties:
                title: { type: string, maxLength: 100 }
      responses:
        '200':
          description: Renamed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      conversationId: { type: string }
                      title: { type: string }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '422': { $ref: '#/components/responses/Problem422' }
    delete:
      operationId: deleteHootConversation
      tags: [Hoot]
      summary: Soft-delete a Hoot conversation
      description: |
        Soft-delete a conversation. A repeated delete returns 200 with
        `alreadyDeleted: true`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      responses:
        '200':
          description: Soft-deleted or already deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      conversationId: { type: string }
                      alreadyDeleted: { type: boolean }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }

  /api/cortex/conversations/{conversationId}:
    parameters:
      - name: conversationId
        in: path
        required: true
        schema: { type: string }
    post:
      deprecated: true
      operationId: sendCortexConversationMessage
      tags: [Hoot]
      summary: "[deprecated] Send a Hoot message and stream the reply — use /api/hoot/conversations/{conversationId}"
      description: |
        Append one user message and stream the assistant reply. The response is
        `text/plain; charset=utf-8` with `X-Vercel-AI-Data-Stream: v1` and
        AI-SDK line-prefixed frames (`0:"delta"`, `d:{...}`, `3:"err"`).

        Public send accepts only `role` and `content`; create a new
        conversation to change the target machine. API-key callers are capped
        to read-only Hoot tools during streamed replies.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role, content]
              additionalProperties: false
              properties:
                role: { type: string, enum: [user] }
                content: { type: string }
      responses:
        '200':
          description: AI-SDK text stream
          content:
            text/plain:
              schema: { type: string }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '422': { $ref: '#/components/responses/Problem422' }
        '423':
          description: Hoot disabled on target machine
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429': { $ref: '#/components/responses/Problem429' }
        '503':
          description: Hoot or target machine unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    patch:
      deprecated: true
      operationId: renameCortexConversation
      tags: [Hoot]
      summary: "[deprecated] Rename a Hoot conversation — use /api/hoot/conversations/{conversationId}"
      description: |
        Update the conversation title. Other fields are rejected with
        `forbidden_field`. Requires `chat=<siteId>:write`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              additionalProperties: false
              properties:
                title: { type: string, maxLength: 100 }
      responses:
        '200':
          description: Renamed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      conversationId: { type: string }
                      title: { type: string }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '422': { $ref: '#/components/responses/Problem422' }
    delete:
      deprecated: true
      operationId: deleteCortexConversation
      tags: [Hoot]
      summary: "[deprecated] Soft-delete a Hoot conversation — use /api/hoot/conversations/{conversationId}"
      description: |
        Soft-delete a conversation. A repeated delete returns 200 with
        `alreadyDeleted: true`.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      responses:
        '200':
          description: Soft-deleted or already deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      conversationId: { type: string }
                      alreadyDeleted: { type: boolean }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }

  # ──────────────────────────────────────────────────────────────────────
  # Roost (project distribution v2) — content-addressed sync
  # ──────────────────────────────────────────────────────────────────────
  /api/chunks/check:
    post:
      operationId: checkChunks
      tags: [Chunks]
      summary: Check which chunks are already uploaded
      description: |
        Given a list of SHA-256 chunk hashes, returns the subset that are
        NOT yet present in content-addressed storage. Callers skip chunks
        that already exist (CAS dedup), uploading only the missing ones.

        Idempotent. Scoped to the caller's site (per-tenant chunk namespace).
      security:
        - apiKey: []
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, hashes]
              properties:
                siteId:
                  type: string
                hashes:
                  type: array
                  description: Lowercase 64-char SHA-256 hex strings.
                  items:
                    type: string
                    pattern: '^[0-9a-f]{64}$'
                  maxItems: 1000
            example:
              siteId: nyc-office
              hashes:
                - 239f59ed55e737c77147cf55ad0c1b030b6d7ee748a7426952f9b852d5a935e5
                - a1b2c3d4e5f6789012345678901234567890abcdef0123456789abcdef012345
      responses:
        '200':
          description: Subset of input hashes not present in storage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  missing:
                    type: array
                    items:
                      type: string
              example:
                missing:
                  - a1b2c3d4e5f6789012345678901234567890abcdef0123456789abcdef012345
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/chunks/upload-urls:
    post:
      operationId: getChunkUploadUrls
      tags: [Chunks]
      summary: Get signed upload URLs for chunks
      description: |
        Returns signed PUT URLs (≤60 min TTL) for uploading each chunk
        directly to R2. Honors `Idempotency-Key` header for safe retries.
        Rate-limited per site.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, hashes]
              properties:
                siteId:
                  type: string
                hashes:
                  type: array
                  items:
                    type: string
                    pattern: '^[0-9a-f]{64}$'
                  maxItems: 1000
      responses:
        '200':
          description: Map of hash → signed upload URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: object
                    additionalProperties:
                      type: string
                      format: uri
                      description: Signed PUT URL; PUT the chunk bytes as the body.
                  expiresAt:
                    type: string
                    format: date-time
                    description: Earliest expiry across the issued URLs.
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '402': { $ref: '#/components/responses/Problem402' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/chunks/download-urls:
    get:
      operationId: getChunkDownloadUrls
      tags: [Chunks]
      summary: Get signed download URLs for chunks
      description: |
        Returns signed GET URLs (≤15 min TTL) for downloading a batch of
        chunks. Scoped to per-tenant prefix; cross-site access returns 403.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
        - name: hashes
          in: query
          required: true
          description: Comma-separated list of SHA-256 hashes (lowercase hex).
          schema:
            type: string
      responses:
        '200':
          description: Map of hash → signed download URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: object
                    additionalProperties:
                      type: string
                      format: uri
                  expiresAt:
                    type: string
                    format: date-time
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/roosts/{roostId}/versions:
    get:
      operationId: listRoostVersions
      tags: [Versions]
      summary: List versions for rollback UI
      description: |
        Returns the immutable version history for a roost, newest
        first. Used by the rollback UI to let operators pick a previous
        known-good version.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
        - name: siteId
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
      responses:
        '200':
          description: Paginated version history.
          content:
            application/json:
              schema:
                type: object
                required: [versions, next_page_token]
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/VersionSummary'
                  next_page_token:
                    type: string
                  nextPageToken:
                    type: string
                    deprecated: true
                  nextCursor:
                    type: string
                    nullable: true
                    deprecated: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '501':
          $ref: '#/components/responses/Problem501'
    post:
      operationId: finalizeVersion
      tags: [Versions]
      summary: Finalize a new version (atomic CAS)
      description: |
        Validates the version, confirms every referenced chunk exists in
        R2, and atomically swaps `currentVersionId` on the roost doc
        via a Firestore transaction. On success the roost's previous
        `currentVersionId` becomes `previousVersionId` (one-click rollback).

        If a concurrent finalize has changed `currentVersionId` between
        the client's fetch and this write, responds 412 so the client can
        re-read and retry.

        Honors `Idempotency-Key` for safe retries.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, version]
              properties:
                siteId:
                  type: string
                version:
                  $ref: '#/components/schemas/OciVersion'
                description:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: |
                    Optional plaintext "what changed?" note stored on the
                    version doc. ≤ 500 chars; longer payloads are rejected
                    with 400. Empty / whitespace-only strings are stored as
                    null.
                expectedCurrentVersionId:
                  type: string
                  nullable: true
                  description: |
                    For optimistic concurrency. If provided and the roost's
                    current pointer has changed, the server returns 412
                    with code `version_stale`.
      responses:
        '201':
          description: Version finalized; distribution fan-out triggered.
          content:
            application/json:
              schema:
                type: object
                required: [versionId, versionNumber]
                properties:
                  versionId:
                    type: string
                    description: Stable content-addressed id (64-char sha-256 hex).
                  versionNumber:
                    type: integer
                    description: Monotonic 1-indexed version number, per-roost.
                  currentVersionId:
                    type: string
                  previousVersionId:
                    type: string
                    nullable: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '412': { $ref: '#/components/responses/Problem412' }
        '501':
          $ref: '#/components/responses/Problem501'

  /api/roosts/{roostId}/version-url:
    post:
      operationId: mintRoostVersionUrl
      tags: [Versions]
      summary: Mint a fresh signed GET URL for a version body
      description: |
        Issues a short-lived (≤15 min) signed R2 URL for fetching a
        version JSON body. Agents call this at sync time — URLs baked
        into the roost doc at publish time would already be expired by
        the time a canary wave ran, so each attempt mints fresh.
        Mirrors `/api/chunks/download-urls` for chunks.

        Accepts either a superadmin session/key OR an agent bearer token
        whose `site_id` claim matches the requested `siteId`.
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, versionId]
              properties:
                siteId:
                  type: string
                versionId:
                  type: string
                  description: 64-char hex sha-256 of the version's canonical JSON body.
      responses:
        '200':
          description: Fresh signed URL.
          content:
            application/json:
              schema:
                type: object
                required: [url, expiresAt]
                properties:
                  url:
                    type: string
                    format: uri
                  expiresAt:
                    type: string
                    format: date-time
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }

  /api/roosts/{roostId}/resync:
    post:
      operationId: resyncRoost
      tags: [Roost]
      summary: Force all current targets to re-pull the current version
      description: |
        Operator-initiated retry after a failed rollout (or to force
        drift reset on targets where a kiosk tech touched files by
        hand). Queues fresh `sync_pull` commands with a timestamp
        nonce in the cmdId (deduped by the agent's `_seen_commands`
        otherwise), clears `target_state` docs so the UI snaps from
        "failed" back to "queued", and drops the stale
        `rollouts/{versionRef}` doc so the fanout state machine
        doesn't treat new reports as belated arrivals for an aborted
        wave.

        Skips canary→fleet staging — an explicit retry doesn't need
        the safety wave. The canary already ran (or failed).
      security:
        - apiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId]
              properties:
                siteId:
                  type: string
      responses:
        '200':
          description: Re-sync commands queued to all current targets.
          content:
            application/json:
              schema:
                type: object
                required: [resynced, targets]
                properties:
                  resynced:
                    type: integer
                    description: Count of targets the sync_pull was queued to.
                  targets:
                    type: array
                    items:
                      type: string
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409':
          description: |
            Conflict — either the roost has no currentVersionId (nothing
            to resync) or no targets assigned.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }

  # ══════════════════════════════════════════════════════════════════════
  # Developer-preview public API surface. Paths below carry
  # `x-stub: true` where the route file does not yet exist; the openapi
  # drift validator skips the route-file check for those entries.
  # Contract source: dev/active/public-api/reference/api-surface.md.
  # ══════════════════════════════════════════════════════════════════════

  # ──────────────────────────────────────────────────────────────────────
  # 1. api keys (public surface)
  # ──────────────────────────────────────────────────────────────────────
  /api/keys:
    get:
      operationId: listUserApiKeys
      tags: [API Keys]
      summary: list api keys
      description: |
        Lists the caller's own api keys (raw `key` is never included).
        Requires a user session or Firebase ID token; api keys cannot
        list other api keys. This route is currently unpaginated.
        See [authentication.md](/docs/api/authentication).
      security:
        - firebaseIdToken: []
      responses:
        '200':
          description: List of api key summaries.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema:
                type: object
                required: [success, keys]
                properties:
                  success: { type: boolean }
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createUserApiKey
      tags: [API Keys]
      summary: create scoped api key
      description: |
        Creates a scoped api key. The raw `key` value is returned
        **exactly once** — store it in a secrets manager immediately.
        Requires a user session or Firebase ID token. Non-superadmin
        callers cannot create `user` or `installer` scopes; those
        platform resources must use `id: "*"`.
        See [authentication.md](/docs/api/authentication#creating-keys).
      security:
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateApiKeyRequest' }
      responses:
        '200':
          description: Api key created; raw `key` present on this response only.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyCreateResponse' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/keys/{keyId}:
    parameters:
      - $ref: '#/components/parameters/KeyIdPath'
    patch:
      operationId: updateUserApiKey
      tags: [API Keys]
      summary: edit api key scopes
      description: |
        Edits an existing key's `scopes` and/or `name` in place. The raw
        key value is **not** reissued — holders of the credential keep
        using it and pick up the new scopes on their next request.
        `scopes` is a full replacement, not a merge.

        Scopes are validated with the same rules `POST /api/keys` uses, so
        a key can never be edited into a scope its owner could not have
        been issued. `environment` and `ttlDays` are rejected: rotate to
        extend expiry.

        Returns 409 for a revoked key, and for one inside a rotation grace
        window — edit its successor instead.
        See [authentication.md](/docs/api/authentication#editing-key-scopes).
      security:
        - firebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PatchApiKeyRequest' }
      responses:
        '200':
          description: Key updated; the summary reflects the new scopes.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema:
                type: object
                required: [success, key]
                properties:
                  success: { type: boolean }
                  key: { $ref: '#/components/schemas/ApiKey' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    delete:
      operationId: revokeUserApiKey
      tags: [API Keys]
      summary: revoke api key
      description: |
        Revokes a key. Takes effect immediately — there is no cache in front of
        the credential lookup, so the very next request with this key is
        rejected. The key is not deleted: the record and its lookup are kept and
        stamped `revokedAt`, so later reads still return the key with
        `revoked: true` and a request replayed with it stays attributable.
        Repeating the call is a no-op that keeps the original revocation time.
      security:
        - firebaseIdToken: []
      responses:
        '200':
          description: Key revoked.
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  /api/keys/{keyId}/rotate:
    parameters:
      - $ref: '#/components/parameters/KeyIdPath'
    post:
      operationId: rotateUserApiKey
      tags: [API Keys]
      summary: rotate api key
      description: |
        Mints a new raw key value; the old key remains valid for a
        fixed 24-hour grace window so running jobs can pick up the new
        value without downtime. The new key keeps the old key's scopes
        and environment.
      security:
        - firebaseIdToken: []
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RotateApiKeyRequest' }
      responses:
        '200':
          description: Rotation complete; new raw `key` present on this response only.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyRotateResponse' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

  # ──────────────────────────────────────────────────────────────────────
  # 2. roosts (deploy units) — /api/roosts/{roostId}/{versions,rollback}
  # are already documented above. this block adds the collection endpoints
  # plus the roost-scalar GET/PATCH (the existing DELETE is live and moved
  # here so the spec matches the route file).
  # ──────────────────────────────────────────────────────────────────────
  /api/roosts:
    x-stub: true
    get:
      operationId: listRoosts
      tags: [Roost]
      summary: list roosts in a site
      description: |
        Lists roosts the caller has access to within a site.
        Cursor-paginated; `siteId` query is required. Use `page_size`
        and `page_token`; legacy `limit` and `cursor` are accepted for
        existing clients.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostVersionHeader'
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/PageSizeQuery'
        - $ref: '#/components/parameters/PageTokenQuery'
        - name: includeDeleted
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include soft-deleted roosts.
      responses:
        '200':
          description: Paginated roost list.
          headers:
            RateLimit-Limit:    { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:    { $ref: '#/components/headers/RateLimitReset' }
          content:
            application/json:
              schema:
                type: object
                required: [roosts, next_page_token]
                properties:
                  roosts:
                    type: array
                    items: { $ref: '#/components/schemas/RoostSummary' }
                  next_page_token:
                    type: string
                  nextPageToken:
                    type: string
                    deprecated: true
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }
    post:
      operationId: createRoost
      tags: [Roost]
      summary: create roost
      description: |
        Creates a new empty roost. Publish a version to populate it.
      security:
        - apiKey: []
        - bearerApiKey: []
        - firebaseIdToken: []
      parameters:
        - $ref: '#/components/parameters/RoostVersionHeader'
        - $ref: '#/components/parameters/SiteIdQuery'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRoostRequest' }
      responses:
        '201':
          description: Roost created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roost' }
        '400': { $ref: '#/components/responses/Problem400' }
        '401': { $ref: '#/components/responses/Problem401' }
        '403': { $ref: '#/components/responses/Problem403' }
        '404': { $ref: '#/components/responses/Problem404' }
        '409': { $ref: '#/components/responses/Problem409' }
        '429': { $ref: '#/components/responses/Problem429' }
        '500': { $ref: '#/components/responses/Problem500' }

[...]
